<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div id="doc-oc-demo3" class="am-offcanvas">
            <div class="am-offcanvas-bar am-offcanvas-bar-flip">
                <div class="side-close" data-rel="close">
                    <img src="/static/img/0103close.png">
                </div>
                <div class="am-offcanvas-content">
                    <h3>
                        <a href="/tech_tour">Tech Tour</a>
                    </h3>
                    <h3>
                        <a href="/workshop">Workshop</a>
                    </h3>
                    <h3>
                        <a href="/service">Consultancy Service</a>
                    </h3>
                    <h3>
                        <a href="/article">Article</a>
                    </h3>
                    <h3>
                        <a href="/gallery">Gallery</a>
                    </h3>
                    <h3>
                        <a href="/event">Event</a>
                    </h3>
                    <h3>
                        <a href="">Testimonials</a>
                    </h3>
                    <h3>
                        <a href="/shop">Shop</a>
                    </h3>
                    <h3>
                        <a href="/about">About us</a>
                    </h3>
                    <h3>
                        <a href="/contact">Contact us</a>
                    </h3>
                </div>
            </div>
        </div>
    </body>
</html>