html, body {
    background: url("/img/02.jpg") no-repeat;
    font-family: PingFangSC-Light;
    background-size: cover;
    height: auto;
}

.main {
    padding-top: 106px;
}

.article-body {
    width: 1240px;
    display: block;
    padding-left: 70px;
    padding-right: 70px;
    line-height: 1.6;
    height: auto;
}

.first-floor {
    width: 100%;
    overflow: hidden;
    margin-bottom: 42px;
}

.first-floor .title {
    width: 20%;
    font-size: 68px;
    font-weight: 300;
    color: rgba(0, 253, 255, 1);
    float: left;
    line-height: 0.85;
}

.first-floor .content {
    margin-left: 2%;
    padding-top: 26px;
    width: 77%;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    float: left;
    line-height: 1.4;
}


.search {
    border: 0;
    height: 40px;
}

.search input {
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: #49128B;
}

.search input:focus {
    background-color: transparent;
}

.am-input-group .am-form-field {
    width: auto;
}

.search .search-btn {
    margin-top: 14px;
    margin-left: 10px;
    border: 0;
    width: 13px;
    height: 12px;
    background: url(/img/0501search.png) no-repeat center center;
}

.boxes {
    margin-top: 2.22%;
    height: auto;
    overflow: hidden
}

.box:nth-child(1) {
    margin-right: 1.2%;
}

.box:nth-child(3) {
    margin-left: 1.2%;
}

.box {
    width: 100%;
    float: left;
    position: relative;

}

.box1 {
    width: 39.2%;
    height: 600px;
}

.box2 {
    width: 29%;
    height: 530px;
}

.box3 {
    width: 29%;
    height: 431px;
    background: transparent;
}

.box3 .overlay {
    position: absolute;
    background: rgba(0, 0, 0, 1);
    opacity: 0.7;
}

.box1 .background {
    width: 100%;
    height: 41.66%;
    cursor: pointer;
}

.box2 .background {
    width: 100%;
    height: 38%;
    cursor: pointer;
}

.text {
    padding-left: 3.7%;
    padding-right: 3.7%;
    height: 58.3%;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    overflow: hidden;
    color: rgba(59, 59, 59, 1);
}

.box2 .text {
    height: 62%;
}

.box3 .text {
    color: rgba(255, 255, 255, 1);
    background: transparent;
    padding-top: 38.5%;
    height: 100%;

}

.box-title {
    margin-top: 9.14%;
    height: 14.29%;
    font-size: 18px;
    font-weight: bold;
    color: rgba(19, 19, 19, 1);
    overflow: hidden;
    text-overflow: ellipsis;
}

.box3 .box-title {
    margin-top: 0;
    color: rgba(255, 255, 255, 1);
}

.box-conetnt {
    height: 32%;
    font-size: 14px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tag-list {
    height: 6.29%;
    font-size: 14px;
    margin: 29px auto 0;
    padding: 0;
    clear: both;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(59, 59, 59, 1);
}

.tag {
    min-width: 50px;
    height: 22px;
    text-align: center;
    background: rgba(73, 18, 139, 1);
    border: 1px solid rgba(73, 18, 139, 1);
    font-size: 12px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    margin-right: 10px;
    padding: 0 3%;
    display: inline-block;
    cursor: pointer;
}

.author {
    margin-top: 19px;
    font-size: 14px;
    font-weight: 300;
}

.create-time {
    margin-top: 18px;
    font-size: 14px;
    font-weight: 300;
}

.social-icon {
    top: 36%;
    left: 78%;
    position: absolute;
}

.box2 .social-icon {
    top: 32%;
    left: 74%;
    position: absolute;
}

.box3 .social-icon {
    top: 1%;
    left: 75%;
    position: absolute;
}

.load-more {
    padding-top: 12px;
    height: 50px;
    border: 1px solid rgba(0, 253, 255, 1);
    background: transparent;
    font-size: 18px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(0, 253, 255, 1);
    text-align: center;
    cursor: pointer;
}
