

.title-content {
    height: 148px;
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 70px;
    padding-top: 3%;
    font-size: 70px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(0, 253, 255, 1);
    background-image: url("/img/0401ornament.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.content {
    width: 976px;
    margin-left: 124px;
    height: 73px;
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-align: justify;
    text-justify: newspaper;
    word-break: break-all;
}

.boxes {
    margin-top: 25px;
    height: auto;
    overflow: hidden
}

.box:first-child {
    margin-right: 40px;
}

.box:last-child {
    margin-left: 40px;
}

.box {
    padding-left: 15px;
    padding-right: 15px;
    width: 340px;
    float: left;
    background-size: cover;
    height: 500px;
}

.box1 {
    background-image: url("/img/service.jpg");
}

.box2 {
    background-image: url("/img/service.jpg");
}

.box3 {
    background-image: url("/img/service.jpg");
}

.box-title {
    height: 77px;
    margin-top: 189px;
    font-size: 30px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    line-height: 1.6;
    text-align: justify;
    text-justify: newspaper;
    word-break: break-all;
}

.box-conetnt {
    font-size: 14px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    margin-top: 20px;
    width:310px;
    height:161px;
    line-height: 1.5;
    text-align: justify;
    text-justify: newspaper;
    word-break: break-all;
}