.main-body {
    padding-right: 70px;
    padding-left: 70px;
    line-height: 1.6;
}

.product-text {
    width: 601px;
    float: left;
}

.product-title {
    width: 600px;
    height: 90px;
    font-size: 32px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    line-height: 1.6;
    margin: 0;
}

.product-image {
    width: 480px;
    height: 480px;
    border-radius: 6px;
    display: block;
    float: right;
}

.tag-list {
    margin-top: 21px;
    height: 22px;
}

.tag {
    margin-top: 20px;
    padding: 7px 10px 5px;
    width: 50px;
    height: 22px;
    background: rgba(73, 18, 139, 1);
    border: 1px solid rgba(73, 18, 139, 1);
    font-size: 12px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
}

.product-description {
    width: 600px;
    height: 76px;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.price {
    margin-top: 6px;
    width: 125px;
    height: 28px;
    font-size: 30px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(251, 100, 0, 1);
    line-height: 1;
}

.am-btn {
    width: 170px;
    height: 42px;
    background: rgba(251, 100, 0, 1);
    font-size: 16px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
}

.image-list {
    overflow: hidden;
}

.right-image {
    width: 480px;
    float: right;
}

.controller-list {
    margin-top: 19px;
    width: 140px;
    float: right;
    overflow: hidden;
}

.image-controller {
    width: 14px;
    height: 14px;
    background: rgba(255, 255, 255, 1);
    opacity: 0.4;
    border-radius: 50%;
    margin-right: 12px;
    float: right;
    cursor: pointer;
}

.image-controller-select {
    background:rgba(251,100,0,1);
}

.controller-list .controller:first-child {
    margin: 0;
}