html, body {
    width: 100%;
    height: 100%;
}

body {
    background: url("/img/01.png") no-repeat top left;
    background-size: cover;
}

.main {
    margin-top: 106px;
}

.main-body {
    padding-right: 3.63%;
    padding-left: 3.63%;
    padding-top: 56px;
}

.main-body .left-side {
    padding-top: 50px;
    min-height: 658px;
    height: 100%;
    background-image: url(/img/0201.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.left-side .title {
    overflow: hidden
}

.left-side .title p {
    margin-top: 0;
}

.left-side .left-title {
    margin-left: 17px;
    width: 28.6%;
    height: 7.45%;
    font-size: 6.4rem;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(0, 253, 255, 1);
    display: inline;
}

@media screen and (max-width: 1366px) {
    .left-side .left-title {
        font-size: 4.5rem;
    }
    .main-body .left-side {
    }
}

.left-side .right-title {
    width: 136px;
    font-size: 64px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(73, 18, 139, 1);
    padding-left: 39px;
    display: inline;
}

.left-side .content {
    margin: 0 0 0 40.16%;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    padding-right: 4.26%;
    font-weight: 400;
    color: rgba(73, 18, 139, 1);
}

.left-side video {
    margin-top: 47px;
    margin-left: 39%;
    width: 280px;
    height: 168px;
}

.am-panel-hd {
    background: rgba(0, 0, 0, 0);
    font-size: 20px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(246, 246, 246, 1);
}

.am-panel {
    background: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 253, 255, 1);
}

.am-panel:first-child {
    border-top: 1px solid rgba(0, 253, 255, 1);
}

#accordion {
    padding-left: 20px;
    padding-top: 50px;
}

#accordion .am-panel-bd {
    font-size: 14px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(246, 246, 246, 1);
    padding: 1.00rem 1.00rem 0;
    border-top: 0;
}

#accordion .am-panel-title {
    margin-left: 21px;
}