body {
    background: url("/img/01.jpg") no-repeat top left;
}

.main {
    display: flex;
    align-items: center;
}

.main-body {
    padding: 56px 70px;
}

.main-body .left-side {
    background-image: url(/img/0201.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 658px;
    width: 493px;
}

.left-side .title {
    margin-top: 17%;
    text-align: center;
    overflow: hidden;
    line-height: 0.9;
}

.left-side .title p {
    margin-top: 0;
}

.left-side .left-title {
    margin-left: -27%;
    font-size: 6.4rem;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(0, 253, 255, 1);
    display: inline;
}

.left-side .right-title {
    font-size: 6.4rem;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(73, 18, 139, 1);
    margin-left: 6%;
    display: inline;
}

.left-side .content {
    margin: 28px 0 0 198px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    padding-right: 21px;
    font-weight: 400;
    color: rgba(73, 18, 139, 1);
    line-height: 1.8;
    height: 208px;
    overflow: hidden;
    text-align: justify;
    text-justify: newspaper;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
}

.left-side .video-container {
    padding-right: 18px;
    margin: 47px 0 0 195px;
}

.video-container video {
    width: 280px;
    height: 168px;
    object-fit: fill
}

.am-collapse p {
    width: 420px;
    height: 294px;
    text-align: justify;
    text-justify: newspaper;
    word-break: break-all;
}

.collapse-video-container {
    width: 150px;
    height: 90px;
    position: relative;
    float: right;
}

.collapse-video-container .plyr {
    min-width: 150px;
    height: 90px;
}

.collapse-video-container video {
    width: 150px;
    height: 90px;
    object-fit: fill
}

.collapse-video-container .plyr__poster {
    width: 150px;
    height: 90px;
}


.am-panel-hd {
    background: rgba(0, 0, 0, 0);
    font-size: 20px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(246, 246, 246, 1);
}

.am-panel {
    line-height: 1.6;
    background: rgba(0, 0, 0, 0);
    border-top: 1px solid rgba(0, 253, 255, 1);

}

.am-panel:last-child {
    border-bottom: 1px solid rgba(0, 253, 255, 1);
}

#accordion {
    width: 586px;
    margin-left: 20px;
    padding-top: 50px;
}

#accordion .am-panel-bd {
    font-size: 14px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(246, 246, 246, 1);
    padding-left: 0;
    padding-right: 0;
    border-top: 0;
}

#accordion .am-panel-title {
    margin-left: 21px;
}

