html, body {
    width: 100%;
    height: auto;
}

body {
    background: url("/img/01.jpg") no-repeat top left;
    background-size: cover;
}

.main {
    margin-top: 5.5%;
}

.main-body {
    padding-right: 3.63%;
    padding-left: 3.63%;
    padding-top: 56px;
}

.main-body .left-side {
    padding-top: 5%;
    background-image: url(/img/0201.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 658px;
}

.left-side .title {
    text-align: center;
    overflow: hidden
}

.left-side .title p {
    margin-top: 0;
}

.left-side .left-title {
    margin-left: -29%;
    font-size: 6.4rem;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(0, 253, 255, 1);
    display: inline;
}

.left-side .right-title {
    font-size: 6.4rem;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(73, 18, 139, 1);
    margin-left: 8%;
    display: inline;
}

.left-side .content {
    margin: 0 0 0 40.16%;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    padding-right: 4%;
    font-weight: 400;
    color: rgba(73, 18, 139, 1);
}

.left-side .video-container {
    padding-right: 4%;
    margin: 4.35% 0 0 40.16%;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: fill
}

.am-collapse p{
    padding-right: 1.09%;
}

.am-panel-hd {
    background: rgba(0, 0, 0, 0);
    font-size: 20px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(246, 246, 246, 1);
}

.am-panel {
    background: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 253, 255, 1);
}

.am-panel:first-child {
    border-top: 1px solid rgba(0, 253, 255, 1);
}

#accordion {
    padding-left: 20px;
    padding-top: 50px;
}

#accordion .am-panel-bd {
    font-size: 14px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(246, 246, 246, 1);
    padding: 1.00rem 1.00rem 0;
    border-top: 0;
}

#accordion .am-panel-title {
    margin-left: 21px;
}

@media screen and (max-width: 1440px){
    .main-body .left-side {
        background-image: url(/img/0201.png);
        background-position: center 0;
    }
    .left-side .left-title {
        font-size: 4.8rem;
    }
    .left-side .right-title {
        font-size: 4.8rem;
    }

    .am-u-sm-2{
        width: 8.333%;
    }

    .am-u-sm-8{
        width: 83.33%;
    }
}