<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">标题：</label>
                            <div class="col-sm-8">
                                <input id="title" name="title" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">内容：</label>
                            <div class="col-sm-8">
                                <textarea id="content" name="content" class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">连接到(常用于谋文章只是一个连接)：</label>
                            <div class="col-sm-8">
                                <input id="linkto" name="linkto" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">缩略图：</label>
                            <div class="col-sm-8">
                                <input id="thumbnail" name="thumbnail" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">用户ID：</label>
                            <div class="col-sm-8">
                                <input id="userid" name="userid" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">排序编号：</label>
                            <div class="col-sm-8">
                                <input id="ordernumber" name="ordernumber" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">状态：</label>
                            <div class="col-sm-8">
                                <input id="status" name="status" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">评论状态，默认允许评论：</label>
                            <div class="col-sm-8">
                                <input id="commentstatus" name="commentstatus" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">评论总数：</label>
                            <div class="col-sm-8">
                                <input id="commentcount" name="commentcount" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">最后评论时间：</label>
                            <div class="col-sm-8">
                                <input id="commenttime" name="commenttime" class="form-control" type="text"
                                       onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">访问量：</label>
                            <div class="col-sm-8">
                                <input id="viewcount" name="viewcount" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">创建日期：</label>
                            <div class="col-sm-8">
                                <input id="createtime" name="createtime" class="form-control" type="text"
                                       onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">最后更新日期：</label>
                            <div class="col-sm-8">
                                <input id="modifytime" name="modifytime" class="form-control" type="text"
                                       onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">：</label>
                            <div class="col-sm-8">
                                <input id="starttime" name="starttime" class="form-control" type="text"
                                       onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">：</label>
                            <div class="col-sm-8">
                                <input id="endtime" name="endtime" class="form-control" type="text"
                                       onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">：</label>
                            <div class="col-sm-8">
                                <input id="price" name="price" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">：</label>
                            <div class="col-sm-8">
                                <input id="address" name="address" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">SEO关键字：</label>
                            <div class="col-sm-8">
                                <input id="metakeywords" name="metakeywords" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">SEO描述信息：</label>
                            <div class="col-sm-8">
                                <input id="metadescription" name="metadescription" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">备注信息：</label>
                            <div class="col-sm-8">
                                <textarea id="remarks" name="remarks" class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">：</label>
                            <div class="col-sm-8">
                                <input id="type" name="type" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script src="//s.xlongwei.com/res/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="/js/appjs/cms/event/add.js">
</script>
</body>
</html>
