<!DOCTYPE html>
<html>
<head lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>About us</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link th:href="@{/css/amazeui.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/page.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/front/about.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:replace="nav :: top-nav"></div>
<div class="main">
    <div class="am-g" style="height:768px">
        <div class="am-u-sm-2 am-vertical-align" style="width: 50px">
            <div class="left-nav am-vertical-align-middle">
                <div class="top">
                    <a href="/page/shop">
                        <img src="/img/up.png"/>
                        <div class="top-text">Shop</div>
                    </a>
                </div>
                <div class="bottom">
                    <a href="/page/contact">
                        <div class="bottom-text">Contact us</div>
                        <img src="/img/down.png"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="main-body am-u-sm-8">
            <div class="am-tabs" data-am-tabs="{noSwipe: 1}" id="doc-tab-demo-1">
                <ul class="am-tabs-nav am-nav am-nav-tabs">
                    <li class="am-active">
                        <a href="javascript: void(0)" th:text="${data['content']['tab1']['title']}" style="z-index: 1">WHO</a>
                        <div class="tab-bg" id="who-title-bg"></div>
                    </li>
                    <li>
                        <a href="javascript: void(0)" th:text="${data['content']['tab2']['title']}" style="z-index: 1">WHAT</a>
                        <div class="tab-bg" id="what-title-bg"></div>
                    </li>
                </ul>
                <div class="am-tabs-bd">
                    <div class="am-tab-panel am-active about-who">
                        <p th:text="${data['content']['tab1']['content']}"></p>
                        <div class="left-side">
                            <div id="carousel" class="flexslider">
                                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                    <ul class="slides"
                                        style="width: 500%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                                        <li th:each="model,modelStat : ${data['content']['tab1']['model']}"
                                            th:if="${model['pic'] ne ''}">
                                            <img th:src="${model['pic']}"
                                                 src="/img/669b4bed8e0eafac9fc523d3ce8d51cf.jpeg"
                                                 draggable="false">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="info-list">
                                <div class="about-who-info"
                                     th:each="model,modelStat : ${data['content']['tab1']['model']}">
                                    <h1 class="people-name" th:text="${model['name']}"></h1>
                                    <h2 class="people-description" th:text="${model['description']}"></h2>
                                    <p class="people-content" th:text="${model['content']}"></p>
                                    <input type="hidden" th:value="${model['image']}">
                                </div>
                            </div>
                        </div>
                        <div class="right-side">
                            <img id="people-image" draggable="false">
                        </div>
                    </div>
                    <div class="am-tab-panel about-what">
                        <p th:text="${data['content']['tab2']['content']}"></p>
                        <div class="box-line">
                            <div class="box" th:each="model,modelStat : ${data['content']['tab2']['model']}">
                                <div class="box-title am-vertical-align">
                                    <img th:src="${model['image']}" src="/img/1002tours.png"/>
                                    <div th:text="${model['title']}"
                                         class="box-title-content am-vertical-align-bottom"></div>
                                </div>
                                <p class="content" th:text="${model['content']}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="am-u-sm-2 am-vertical-align">
            <div class="right-nav am-vertical-align-middle">
                <a href="/page/techtour" class="circular"></a>
                <a href="/page/workshop" class="circular"></a>
                <a href="/page/service" class="circular"></a>
                <a href="/page/article"></a>
                <a href="/page/gallery" class="circular"></a>
                <a href="/page/event" class="circular"></a>
                <a href="/page/testimonials" class="circular"></a>
                <a href="/page/shop" class="circular"></a>
                <a class="select-circular"></a>
                <a href="/page/contact" class="circular"></a>
            </div>
        </div>
    </div>
</div>
<!-- 侧边栏内容 -->
<div th:include="nav :: nav-side"></div>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/amazeui.min.js}"></script>
<script type="text/javascript">
    // The slider being synced must be initialized first
    $('#carousel').flexslider({
        animation: "slide",
        controlNav: true,
        animationLoop: true,
        slideshow: false,
        itemMargin: 16,
        prevText: '',
        nextText: ''
    });
    $(function () {
        var id = '#doc-oc-demo3';
        var $myOc = $(id);
        $('.side-close').on('click', function () {
            $myOc.offCanvas($(this).data('rel'));
        });
        var list = $("#info-list").children();
        list.each(function (index) {
            if (index !== 0) {
                $(this).hide();
            } else {
                var src = $(this).find('input').val();
                $("#people-image").attr("src", src)
            }
        });
    });
</script>
</body>
</html>
