<!DOCTYPE html>
<html>
<head lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Article</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link th:href="@{/css/amazeui.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/page.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/front/article.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="main">
    <div class="article-body">
        <div class="first-floor am-u-sm-12">
            <div class="title">Article</div>
            <div class="content" th:text="${data['content']['description']}">
            </div>
        </div>
        <div class="search am-u-sm-12">
            <div class="am-input-group">
                <input type="text" class="am-form-field" id="search-title" placeholder="Please Enter A Title"
                       style="width: 400px">
                <button class="search-btn" type="button" onclick="search()"></button>
            </div>
        </div>
        <div id="article-list" class="am-u-sm-12"></div>
        <div class="am-u-sm-12" style="margin-top: 40px">
            <div class="load-more am-text-middle am-u-sm-3 am-u-sm-centered">Load More</div>
        </div>
    </div>
</div>
<!-- 侧边栏内容 -->
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/amazeui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/appjs/cms/front/article.js}"></script>
</body>
</html>
