<!DOCTYPE html>
<html>
<head lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Article</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta name="title" th:attr="content=${article['metaTitle']}"/>
    <meta name="keywords" th:attr="content=${article.metaKeywords}"/>
    <meta name="description" th:attr="content=${article.metaDescription}"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link th:href="@{/css/amazeui.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/page.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/front/articleDetail.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:replace="nav :: top-nav"></div>
<div class="article">
    <div class="am-g">
        <input id="id" type="hidden" th:value="${article.id}">
        <div th:style="'background-image:url(' + @{(${article.thumbnail}=='' ? '' : ${article.thumbnail})} + ')'"
             class="article-haed">
            <div class="overlay">
                <div class="head-body">
                    <h1 th:text="${article.title}" class="am-text-center"></h1>
                    <h2 th:text="${article.author +'&nbsp;&nbsp;&nbsp;'+ article.createTime}"
                        class="am-text-center"></h2>
                </div>
            </div>
        </div>
        <div class="article-body">
            <div class="tag-list">
                <div class="tag" th:each="tag :${tags}" th:if="${tag!=null}" th:text="${tag['name']}">
                </div>
            </div>
            <img class="article-body-icon" src="/img/0503.png"/>
            <div th:utext="${article.content}" class="article-content">

            </div>
            <div class="from-url">
                <a th:if="${article['social']}" th:each="social,socialStat:${article['social']}" href="#"
                   th:if="${social['isTop'] eq 'yes'}" th:text="From：+' ' + ${social['type']}"
                   th:href="${social['url']}" target="_blank">
                </a>
            </div>
            <div class="article-info">
                <div class="share-icon am-u-sm-6">
                    <a th:if="${article['social']}" th:each="social,socialStat:${article['social']}" href="#"
                       th:href="${social['url']}" target="_blank"><img
                            th:src="|/img/0503share_${#strings.toLowerCase(social.type)}_def.png|"/></a>
                </div>
                <div class="custom-icon am-u-md-6">
                    <div class="hard-icon-body">
                        <div class="am-u-md-2">
                            <img src="/img/0503hard.png" alt=""
                                 width="30" height="30">
                        </div>
                        <div class="am-text-middle keep-trying">
                            <p class="am-text-center">TRY HARD</p>
                            <p th:text="${article['keepTryingCount']}" id="keep-trying-count" class="am-text-center">
                                0</p>
                        </div>
                    </div>
                    <div class="good-icon-body">
                        <div class="am-u-md-2">
                            <img src="/img/0503surrpise.png" alt=""
                                 width="30" height="30">
                        </div>
                        <div class="am-text-middle good">
                            <p class="am-text-center">SURPRISE</p>
                            <p th:text="${article['goodCount']}" id="good-count" class="am-text-center">0</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="article-like">
                <div class="am-article-divider"></div>
                <h3 class="am-text-center">Some articles you might like</h3>
                <ul id="article-like-list" class="am-avg-sm-3">
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- 侧边栏内容 -->
<div th:include="nav :: index-nav-side"></div>
</body>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/amazeui.min.js}"></script>
<script>
    $(function () {
        var sideId = '#doc-oc-demo3';
        var $myOc = $(sideId);
        $('.side-close').on('click', function () {
            $myOc.offCanvas($(this).data('rel'));
        });
        $('.good').on('click', function () {
            $.ajax({
                type: "POST",
                url: "/article/" + id + "/good",
                async: false,
                error: function (request) {
                },
                success: function (data) {
                    $("#good-count").text(data)
                }
            });
        });
        $('.keep-trying').on('click', function () {
            $.ajax({
                type: "POST",
                url: "/article/" + id + "/keepTrying",
                async: false,
                error: function (request) {
                },
                success: function (data) {
                    $("#keep-trying-count").text(data)
                }
            });
        });
        var id = $("#id").val();
        $.ajax({
            type: "GET",
            url: "/article/" + id + "/maylike",
            data: {"pageNumber": "1", "pageSize": "3"},
            async: false,
            error: function (request) {
            },
            success: function (data) {
                handleData(data);
            }
        });
        $('#article-like-list li').click(function () {
            window.location.href = "/article/" + $(this).attr("id");
        })
    });

    function handleData(data) {
        var row = data.data.records;
        var list = $("#article-like-list");
        for (var j = 0, len = row.length; j < len; j++) {
            var obj = row[j];
            html = '<li id="' + obj.id + '">\n' +
                '            <img src="' + obj.thumbnail + '" style="width: 100%;height: 200px"/>\n' +
                '            <div class="text">\n' +
                '                <h1 class="box-title">\n' +
                obj.title +
                '                </h1>\n' +
                '                <div class="box-conetnt">\n' +
                obj.summary +
                '                </div><div class="tag-list">\n' +
                '' +
                '                </div><div class="author">\n' +
                obj.author +
                '                </div><div class="create-time">' + obj.createTime + '</div></div>\n' +
                '        </li>';
            list.append(html);
            var tagList = $("#" + obj.id + " .tag-list");
            var tagListWidth = tagList.width();
            var tempWidth = 0, tagIndex = 0;
            while (tempWidth < tagListWidth && tagIndex < obj.tag.length) {
                var tagHtml = '<div class="tag">' + obj.tag[tagIndex] + '</div>';
                tagList.append(tagHtml);
                tempWidth = tempWidth + tagList.children().eq(tagIndex).outerWidth();
                if (tempWidth > tagListWidth) {
                    tagList.find(":last-child").remove();
                }
                tagIndex++;
            }
        }
    }
</script>
</html>
