<!DOCTYPE html>
<html>
<head lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Event</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link th:href="@{/css/amazeui.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/page.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/front/event.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="main">
    <div class="event-body">
        <div class="first-floor">
            <div class="title">Event</div>
            <div class="content">
                Reporting from Ground Zero of businesses disrupting life as we know it. As also, stories on the
                ecosystem
                and those getting disrupted.Reporting from Ground Zero of businesses disrupting life as we know it.
            </div>
        </div>
        <div class="search am-form am-form-inline">
            <div class="am-input-group">
                <input id="search-date" type="text" class="am-form-field" placeholder="MONTH" required
                       data-am-datepicker="{format: 'yyyy-mm', viewMode: 'months', minViewMode: 'months',autoClose:'true',locale: 'en_US'}"/>
            </div>
            <div class="am-form-group am-form-select">
                <select id="search-tag" name="tag" placeholder="TYPE">
                    <option selected value="">TYPE</option>
                    <option th:if="${tags}" th:each="tag : ${tags}" th:text="${tag['name']}"
                            th:value="${tag['id']}"></option>
                </select>
            </div>
            <button class="search-btn" type="button" onclick="search()"></button>
        </div>
        <div id="event-list" class="am-u-sm-12"></div>
        <div class="am-u-sm-12" style="margin-top: 40px">
            <div class="load-more am-text-middle am-u-sm-3 am-u-sm-centered">Load More</div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/amazeui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/appjs/cms/front/event.js}"></script>
<script type="text/javascript">
</script>
</body>
</html>
