<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>全屏切换</title>
    <link th:href="@{/css/amazeui.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/flexslider.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/plyr.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/page.css}" rel="stylesheet" type="text/css"/>
</head>
<style type="text/css">
    * {
        margin: 0;
        padding: 0;
    }

    html,
    body {
        width: 100%;
        height: 100%;
    }

    .page {
        height: 100%;
        width: 100%;
        display: -webkit-box;
        /*Safari*/
        display: -moz-box;
        /*Firefox*/
        display: -ms-flexbox;
        /*IE*/
        display: -webkit-flex;
        /*Chrome*/
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
</style>

<body>
<div th:replace="nav :: top-nav"></div>
<div id="mao">
    <div class="page" style="background-color: transparent;" th:each="data,navStat : ${navList}"
         th:id="|item-${navStat.count}|" th:attr="data-name=${data.navname}"
         th:if="${data['id'] eq 10}">
        <div th:replace="page :: ${data['htmlSuffix']}"></div>
    </div>
</div>
<div class="am-modal am-modal-no-btn" tabindex="-1" id="video-popup">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
        </div>
        <div class="am-modal-bd">
            <div id="video-player"></div>
        </div>
    </div>
</div>
<input type="hidden" th:value="${currentPage}" id="currentPage">
<!-- 侧边栏内容 -->
<div th:include="nav :: nav-side"></div>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/amazeui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plyr.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.flexslider.js}"></script>
<script type="text/javascript" th:src="@{/js/page.js}"></script>
<script type="text/javascript" th:src="@{/js/appjs/cms/front/article.js}"></script>

</body>
</html>
<script>
    const controls = '<button type="button" class="plyr__control plyr__control--overlaid plyr__tab-focus"><svg role="presentation" focusable="false"><use xlink:href="#plyr-play"></use></svg><span class="plyr__sr-only">Play</span></button>';
    const players = Plyr.setup('.player', {controls});
    const workshopplayer = new Plyr('#workshop-player', {controls, clickToPlay: false});
    const player = Plyr.setup('#video-player');
    const player1 = new Plyr('#testimonials-player1', {controls: ['play-large']});
    const player2 = new Plyr('#testimonials-player2', {controls: ['play-large']});
    const player3 = new Plyr('#testimonials-player3', {controls: ['play-large']});

    $(".video-thumbnail").click(function () {
        var url = $(this).parent().attr('data-thumb');
        workshopplayer.source = {
            type: 'video',
            sources: [
                {
                    src: url,
                    provider: 'youtube'
                }
            ]
        };
        e = window.event || e;
        if (e.stopPropagation) {
            e.stopPropagation();      //阻止事件 冒泡传播
        } else {
            e.cancelBubble = true;   //ie兼容
        }
    });
    $('#video-popup').on('close.modal.amui', function () {
        // player.pause();
    });

    //引用方法
    $(function () {
        $('#mao').screen();
        var id = '#doc-oc-demo3';
        var $myOc = $(id);
        $('.side-close').on('click', function () {
            $myOc.offCanvas($(this).data('rel'));
        });

    });

    var list = $(".testimonials-right-list").children();
    list.each(function (index) {
        if (index !== 0) {
            $(this).hide();
        } else {
            $(this).show();
        }
    });


    $('.collapse-video-container').on('click', function () {
        var url = $(this).attr('video-url');
        player.source = {
            type: 'video',
            sources: [
                {
                    src: url,
                    provider: 'youtube'
                }
            ]
        };
        e = window.event || e;
        if (e.stopPropagation) {
            e.stopPropagation();      //阻止事件 冒泡传播
        } else {
            e.cancelBubble = true;   //ie兼容
        }
    });

    $(".up-video").on('click', function () {
        var url1 = $(".first-video").attr('data-thumb');
        var url2 = $(".second-video").attr('data-thumb');
        var url3 = $(".third-video").attr('data-thumb');
        player1.source = {
            type: 'video',
            sources: [
                {
                    src: url2,
                    provider: 'youtube'
                }
            ]
        };
        player2.source = {
            type: 'video',
            sources: [
                {
                    src: url3,
                    provider: 'youtube'
                }
            ]
        };
        player3.source = {
            type: 'video',
            sources: [
                {
                    src: url1,
                    provider: 'youtube'
                }
            ]
        };
        $(".first-video").attr('data-thumb', url2);
        $(".second-video").attr('data-thumb', url3);
        $(".third-video").attr('data-thumb', url1);
    });
    $(".down-video").on('click', function () {
        var url1 = $(".first-video").attr('data-thumb');
        var url2 = $(".second-video").attr('data-thumb');
        var url3 = $(".third-video").attr('data-thumb');
        player1.source = {
            type: 'video',
            sources: [
                {
                    src: url3,
                    provider: 'youtube'
                }
            ]
        };
        player2.source = {
            type: 'video',
            sources: [
                {
                    src: url1,
                    provider: 'youtube'
                }
            ]
        };
        player3.source = {
            type: 'video',
            sources: [
                {
                    src: url2,
                    provider: 'youtube'
                }
            ]
        };
        $(".first-video").attr('data-thumb', url3);
        $(".second-video").attr('data-thumb', url1);
        $(".third-video").attr('data-thumb', url2);
    });
    // The slider being synced must be initialized first
    $('#about-who-carousel').flexslider({
        animation: "slide",
        controlNav: false,
        animationLoop: true,
        slideshow: false,
        itemMargin: 16,
        prevText: '',
        nextText: ''
    });
    $(function () {
        var list = $("#info-list").children();
        list.each(function (index) {
            if (index !== 0) {
                $(this).hide();
            } else {
                var src = $(this).find('input').val();
                $("#people-image").attr("src", src)
            }
        });

    });
    $('#about-who-carousel').find('li').on('click', function () {
        var showIndex = $(this).index();
        list.each(function (index) {
            if (index !== showIndex) {
                $(this).hide();
            } else {
                $(this).show();
                var src = $(this).find('input').val();
                $("#people-image").attr("src", src);
            }
        });
    });
</script>