<!DOCTYPE html>
<html>
<head lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Service</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link th:href="@{/css/amazeui.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/page.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/front/service.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="main">
    <div class="am-g" style="height:768px">
        <div class="main-body am-u-sm-8">
            <div class="title">
                <h1 th:text="${data['content']['headtitle']}" class="title-content">
                </h1>
            </div>
            <div class="content" th:text="${data['content']['headcontent']}">
            </div>
            <div class="boxes">
                <div class="box box1" th:style="'background-image:url(' + @{(${data['content']['model1image']}=='' ? '' : ${data['content']['model1image']})} + ')'">
                    <h1 class="box-title" th:text="${data['content']['model1title']}">
                    </h1>
                    <p class="box-conetnt" th:text="${data['content']['model1content']}">
                    </p>
                </div>
                <div class="box box2" th:style="'background-image:url(' + @{(${data['content']['model2image']}=='' ? '' : ${data['content']['model2image']})} + ')'">
                    <h1 class="box-title" th:text="${data['content']['model2title']}">
                    </h1>
                    <p class="box-conetnt" th:text="${data['content']['model2content']}">
                    </p>
                </div>
                <div class="box box3" th:style="'background-image:url(' + @{(${data['content']['model3image']}=='' ? '' : ${data['content']['model3image']})} + ')'">
                    <h1 class="box-title" th:text="${data['content']['model3title']}">
                    </h1>
                    <p class="box-conetnt" th:text="${data['content']['model3content']}">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/amazeui.min.js}"></script>
</body>
</html>
