<!DOCTYPE html>
<html>
<head lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Service</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link th:href="@{/css/amazeui.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/page.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/front/service.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:replace="nav :: top-nav"></div>
<div class="main">
    <div class="am-g" style="height:768px">
        <div class="am-u-sm-2 am-vertical-align">
            <div class="left-nav am-vertical-align-middle">
                <div class="top">
                    <a href="/page/workshop">
                        <img src="/img/up.png"/>
                        <div class="top-text">Workshop</div>
                    </a>
                </div>
                <div class="bottom">
                    <a href="/page/article">
                        <div class="bottom-text">Article</div>
                        <img src="/img/down.png"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="main-body am-u-sm-8">
            <div class="title">
                <h1 th:text="${data['content']['headtitle']}" class="title-content">
                </h1>
            </div>
            <div class="content" th:text="${data['content']['headcontent']}">
            </div>
            <div class="boxes">
                <div class="box box1">
                    <h1 class="box-title" th:text="${data['content']['model1title']}">
                    </h1>
                    <p class="box-conetnt" th:text="${data['content']['model1content']}">
                    </p>
                </div>
                <div class="box box2 ">
                    <h1 class="box-title" th:text="${data['content']['model2title']}">
                    </h1>
                    <p class="box-conetnt" th:text="${data['content']['model2content']}">
                    </p>
                </div>
                <div class="box box3">
                    <h1 class="box-title" th:text="${data['content']['model3title']}">
                    </h1>
                    <p class="box-conetnt" th:text="${data['content']['model3content']}">
                    </p>
                </div>
            </div>
        </div>
        <div class="am-u-sm-2 am-vertical-align">
            <div class="right-nav am-vertical-align-middle">
                <a href="/page/techtour" class="circular"></a>
                <a href="/page/workshop" class="circular"></a>
                <a class="select-circular"></a>
                <a href="/page/article" class="circular"></a>
                <a href="/page/gallery" class="circular"></a>
                <a href="/page/event" class="circular"></a>
                <a href="/page/testimonials" class="circular"></a>
                <a href="/page/shop" class="circular"></a>
                <a href="/page/about" class="circular"></a>
                <a href="/page/contact" class="circular"></a>
            </div>
        </div>
    </div>
</div>
<!-- 侧边栏内容 -->
<div th:include="nav :: nav-side"></div>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/amazeui.min.js}"></script>
<script type="text/javascript">
    $(function () {
        var id = '#doc-oc-demo3';
        var $myOc = $(id);
        $('.side-close').on('click', function () {
            $myOc.offCanvas($(this).data('rel'));
        });
    });
</script>
</body>
</html>
