<!DOCTYPE html>
<html>
<head lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Shop</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link th:href="@{/css/amazeui.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/page.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/front/shop.css}" rel="stylesheet" type="text/css"/>
    <style>
        html, body {
            background: url("/img/about-background.jpg") no-repeat fixed left top;
        }

    </style>
</head>
<body>
<div th:replace="nav :: top-nav"></div>
<div class="main">
    <div class="am-g" style="height:768px">
        <input id="id" type="hidden" th:value="${product.id}">
        <div class="am-u-sm-2 am-vertical-align" style="width: 50px">
            <div class="left-nav am-vertical-align-middle">
                <div class="top">
                    <a href="/page/testimonials">
                        <img src="/img/up.png"/>
                        <div class="top-text">Testimonials</div>
                    </a>
                </div>
                <div class="bottom">
                    <a href="/page/about">
                        <div class="bottom-text">About us</div>
                        <img src="/img/down.png"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="main-body am-u-sm-8">
            <div class="product am-u-sm-12">
                <div class="product-text">
                    <h1 class="product-title" th:text="${product['name']}">
                    </h1>
                    <div class="tag-list">
                    </div>
                    <p class="product-description" th:text="${product['description']}">
                    </p>
                    <div class="price-line">
                        <div class="price am-u-sm-3" th:text="${product['price']}">
                        </div>
                        <a class="am-btn am-btn-warning am-btn-xl" th:href="${product['url']}" target="_blank"
                           style="line-height: 1.6">
                            <i class="am-icon-shopping-cart"></i>
                            Add To Bag
                        </a>
                    </div>
                    <div class="product-detail" th:text="${product['detail']}">
                    </div>
                </div>
                <div class="right-image">
                    <div class="image-list">
                        <img th:if="${product['image1']}" th:src="${product['image1']}" class="product-image"/>
                        <img th:if="${product['image2']}" th:src="${product['image2']}" class="product-image"
                             style="display: none"/>
                        <img th:if="${product['image3']}" th:src="${product['image3']}" class="product-image"
                             style="display: none"/>
                        <img th:if="${product['image4']}" th:src="${product['image4']}" class="product-image"
                             style="display: none"/>
                        <img th:if="${product['image5']}" th:src="${product['image5']}" class="product-image"
                             style="display: none"/>
                    </div>
                    <div class="controller-list">
                        <div class="image-controller" th:if="${product['image5']}"></div>
                        <div class="image-controller" th:if="${product['image4']}"></div>
                        <div class="image-controller" th:if="${product['image3']}"></div>
                        <div class="image-controller" th:if="${product['image2']}"></div>
                        <div class="image-controller image-controller-select" th:if="${product['image1']}"></div>
                    </div>
                </div>
            </div>
            <div class="product-like-list am-u-sm-12">
                <input type="hidden" id="pageNumber" value="1">
                <div class="product-like-text">
                    <h3>Products</h3>
                    <h1>You May Like</h1>
                    <div class="controller">
                        <img src="/img/0901L_pre.png" onclick="prev()"/>
                        <img src="/img/0901R_pre.png" onclick="next()"/>
                    </div>
                </div>
                <ul class="am-u-sm-10 am-avg-sm-5 product-list" style="width: 920px;float: right">
                </ul>
            </div>
        </div>
        <div class="am-u-sm-2 am-vertical-align">
            <div class="right-nav am-vertical-align-middle">
                <a href="/page/techtour" class="circular"></a>
                <a href="/page/workshop" class="circular"></a>
                <a href="/page/service" class="circular"></a>
                <a href="/page/article" class="circular"></a>
                <a href="/page/gallery" class="circular"></a>
                <a href="/page/event" class="circular"></a>
                <a href="/page/testimonials" class="circular"></a>
                <a class="select-circular"></a>
                <a href="/page/about" class="circular"></a>
                <a href="/page/contact" class="circular"></a>
            </div>
        </div>
    </div>
</div>
<!-- 侧边栏内容 -->
<div th:include="nav :: nav-side"></div>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/amazeui.min.js}"></script>
<script type="text/javascript">
    $(function () {
        var id = '#doc-oc-demo3';
        var $myOc = $(id);
        $('.side-close').on('click', function () {
            $myOc.offCanvas($(this).data('rel'));
        });
        var list = $(".image-list").children();
        var len = $(".image-list").children().size();
        $(".image-controller").click(function () {
            var controllerIndex = $(this).index();
            $(".controller-list").children().each(function (index) {
                if (index !== controllerIndex) {
                    $(".controller-list").children().eq(index).removeClass("image-controller-select");
                } else {
                    $(".controller-list").children().eq(index).addClass("image-controller-select");
                }
            });
            var showIndex = len - $(this).index() - 1;
            list.each(function (index) {
                if (index !== showIndex) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });
        })
    });
    var id = $("#id").val();
    $.ajax({
        type: "GET",
        url: "/shop/" + id + "/maylike",
        data: {"pageNumber": "1", "pageSize": "5"},
        async: false,
        error: function (request) {
        },
        success: function (data) {
            handleData(data);
        }
    });

    function handleData(data) {
        var row = data.data.records;
        if (row.length === 0) {
            return;
        }
        var list = $(".product-list");
        list.empty();
        for (var j = 0, len = row.length; j < len; j++) {
            var obj = row[j];
            var html = '<li class="product-like" id="' + obj.id + '">\n' +
                '                        <img src="' + obj.image1 + '"/>\n' +
                '                        <div class="product-info">\n' +
                '                            <p class="am-text-center">' + obj.name + '</p>\n' +
                '                            <p class="am-text-center">' + obj.price + '</p>\n' +
                '                        </div>\n' +
                '                    </li>';
            list.append(html);
        }
        $('.product-like').on('click', function () {
            window.location.href = "/shop/" + $(this).attr("id");
        });
    }

    function prev() {
        var pageNumber = $("#pageNumber").val();
        if (pageNumber > 1) {
            pageNumber = parseInt(pageNumber) - 1;
            $("#pageNumber").val(pageNumber);
            $.ajax({
                type: "GET",
                url: "/shop/" + id + "/maylike",
                data: {"pageNumber": pageNumber, "pageSize": "5"},
                async: false,
                error: function (request) {
                },
                success: function (data) {
                    handleData(data);
                }
            });
        }
    }

    function next() {
        var pageNumber = $("#pageNumber").val();
        pageNumber = parseInt(pageNumber) + 1;
        $.ajax({
            type: "GET",
            url: "/shop/" + id + "/maylike",
            data: {"pageNumber": pageNumber, "pageSize": "5"},
            async: false,
            error: function (request) {
            },
            success: function (data) {
                if (data.data.records.length > 0) {
                    $("#pageNumber").val(pageNumber);
                }
                handleData(data);
            }
        });
    }

</script>
</body>
</html>
