<!DOCTYPE html>
<html>
<head lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Shop</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link th:href="@{/css/amazeui.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/page.css}" rel="stylesheet" type="text/css"/>
    <style>
        html, body {
            background: url("/img/about-background.jpg") no-repeat fixed center center;
        }

        .main-body{
            padding-left: 5.65%;
            padding-right: 5.65%;
        }


    </style>
</head>
<body>
<div th:replace="nav :: top-nav"></div>
<div class="main am-vertical-align">
    <div class="am-g am-vertical-align-middle" style="height: 71.12%">
        <div class="am-u-sm-2 am-vertical-align">
            <div class="left-nav am-vertical-align-middle">
                <div class="top">
                    <a href="/page/testimonials">
                        <img src="/img/up.png"/>
                        <div class="top-text">Testimonials</div>
                    </a>
                </div>
                <div class="bottom">
                    <a href="/page/about">
                        <div class="bottom-text">About us</div>
                        <img src="/img/down.png"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="main-body am-u-sm-8">
            <div class="am-u-sm-7">
                <h1 class="product-title">
                    Daniel Wellington Women's 0511DWDaniel Wellington Women's 0511DW
                </h1>
                <div class="tag-list">
                </div>
                <p class="product-description">
                    Our interpretation of 1950’s simplicity. Expressed completely in black with a black Swedish
                    organically
                    tanned leather strap.Our interpretation of 1950’s simplicity. Expressed completely in black with a
                    black
                    Swedish organically tanned leather strap.
                </p>
                <div class="price-line">
                    <div class="price am-u-sm-3">
                        $250
                    </div>
                    <button class="am-btn am-btn-warning am-btn-xl" href="#">
                        <i class="am-icon-shopping-cart"></i>
                        Add To Bag
                    </button>
                </div>
                <div class="product-detail">
                    <ul>
                        <li>Our interpretation of 1950’s simplicity. Expressed completely in black with a black Swedish
                            organically tanned leather strap.
                        </li>
                        <li>Our interpretation of 1950’s simplicity. Expressed completely in black with a black Swedish
                            organically tanned leather strap.
                        </li>
                        <li>Our interpretation of 1950’s simplicity. Expressed completely in black with a black Swedish
                            organically tanned leather strap.
                        </li>
                    </ul>
                </div>
            </div>
            <img src="/img/a40455dd300d63eab0f12f6e3b501ece.jpeg" class="am-u-sm-5 product-image"/>
            <div class="product-like am-u-sm-12">
                <div class="am-u-sm-2">
                    <h3>Products</h3>
                    <h1>You May Like</h1>
                    <div class="controller">
                        <img class="am-u-sm-4" src="/img/0901L_pre.png"/>
                        <img class="am-u-sm-4" src="/img/0901R_pre.png"/>
                    </div>
                </div>
                <ul class="am-u-sm-10 am-avg-sm-2 am-avg-md-3 am-avg-lg-5 am-thumbnails">
                    <li>
                        <img src="http://s.amazeui.org/media/i/demos/bing-1.jpg"/>
                        <div class="product-info">
                            <p class="am-text-center">Leather BagLeather Bag</p>
                            <p class="am-text-center">289 USD</p>
                        </div>
                    </li>
                    <li>
                        <img src="http://s.amazeui.org/media/i/demos/bing-1.jpg"/>
                        <div class="product-info">
                            <p class="am-text-center">Leather BagLeather Bag</p>
                            <p class="am-text-center">289 USD</p>
                        </div>
                    </li>
                    <li>
                        <img src="http://s.amazeui.org/media/i/demos/bing-1.jpg"/>
                        <div class="product-info">
                            <p class="am-text-center">Leather BagLeather Bag</p>
                            <p class="am-text-center">289 USD</p>
                        </div>
                    </li>
                    <li>
                        <img src="http://s.amazeui.org/media/i/demos/bing-1.jpg"/>
                        <div class="product-info">
                            <p class="am-text-center">Leather BagLeather Bag</p>
                            <p class="am-text-center">289 USD</p>
                        </div>
                    </li>
                    <li>
                        <img src="http://s.amazeui.org/media/i/demos/bing-1.jpg"/>
                        <div class="product-info">
                            <p class="am-text-center">Leather BagLeather Bag</p>
                            <p class="am-text-center">289 USD</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="am-u-sm-2 am-vertical-align">
            <div class="right-nav am-vertical-align-middle">
                <a href="/page/techtour" class="circular"></a>
                <a href="/page/workshop" class="circular"></a>
                <a href="/page/service" class="circular"></a>
                <a href="/page/article" class="circular"></a>
                <a href="/page/gallery" class="circular"></a>
                <a href="/page/event" class="circular"></a>
                <a href="/page/testimonials" class="circular"></a>
                <a class="select-circular"></a>
                <a href="/page/about" class="circular"></a>
                <a href="/page/contact" class="circular"></a>
            </div>
        </div>
    </div>
</div>
<!-- 侧边栏内容 -->
<div th:include="nav :: nav-side"></div>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/amazeui.min.js}"></script>
<script type="text/javascript">
    $(function () {
        var id = '#doc-oc-demo3';
        var $myOc = $(id);
        $('.side-close').on('click', function () {
            $myOc.offCanvas($(this).data('rel'));
        });
    });
</script>
</body>
</html>
