<!DOCTYPE html>
<html>
<head lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Tech Tour</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link th:href="@{/css/amazeui.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/page.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/plyr.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/front/techtour.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:replace="nav :: top-nav"></div>
<div class="main">
    <div class="am-g" style="height:768px">
        <div th:replace="nav :: nav-left-side"></div>
        <div class="main-body am-u-sm-8">
            <div class="left-side am-u-sm-5">
                <div class="title">
                    <div class="left-title am-text-center">Tech</div>
                    <div class="right-title am-text-center">Tour</div>
                </div>
                <p th:text="${data['content']['content']}" class="content">

                </p>
                <div class="video-container">
                    <div class="player" data-plyr-provider="youtube"
                         th:attr="data-plyr-embed-id=|${data['content']['video']}|">
                    </div>
                </div>
            </div>
            <div class="am-panel-group am-u-sm-7" id="accordion">
                <div class="am-panel">
                    <div class="am-panel-hd">
                        <span><img class="" src="/img/0201enterprise.png"></span>
                        <span th:if="${data['content']['model1title'] != null}"
                              th:text="${data['content']['model1title']}"
                              class="am-panel-title"
                              data-am-collapse="{parent: '#accordion', target: '#do-not-say-1'}">
                    </span>
                    </div>
                    <div id="do-not-say-1" class="am-panel-collapse am-collapse am-in">
                        <div class="am-panel-bd" style="overflow: hidden">
                            <p th:if="${data['content']['model1content'] != null}"
                               th:text="${data['content']['model1content']}" style="float: left">
                            </p>
                            <div class="collapse-video-container">
                                <div class="player" data-plyr-provider="youtube"
                                     th:attr="data-plyr-embed-id=${data['content']['model1video']}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="am-panel">
                    <div class="am-panel-hd">
                        <span><img class="" src="/img/0201manufacturing.png"></span>
                        <span th:if="${data['content']['model2title'] != null}"
                              th:text="${data['content']['model2title']}"
                              class="am-panel-title"
                              data-am-collapse="{parent: '#accordion', target: '#do-not-say-2'}">
                    </span>
                    </div>
                    <div id="do-not-say-2" class="am-panel-collapse am-collapse">
                        <div class="am-panel-bd" style="overflow: hidden">
                            <p th:if="${data['content']['model2content'] != null}"
                               th:text="${data['content']['model2content']}" style="float: left">
                            </p>
                            <div class="collapse-video-container">
                                <div class="player" data-plyr-provider="youtube"
                                     th:attr="data-plyr-embed-id=${data['content']['model2video']}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="am-panel">
                    <div class="am-panel-hd">
                        <span><img class="" src="/img/0201startups.png"></span>
                        <span th:if="${data['content']['model3title'] != null}"
                              th:text="${data['content']['model3title']}"
                              class="am-panel-title"
                              data-am-collapse="{parent: '#accordion', target: '#do-not-say-3'}">
                    </span>
                    </div>
                    <div id="do-not-say-3" class="am-panel-collapse am-collapse">
                        <div class="am-panel-bd" style="overflow: hidden">
                            <p th:if="${data['content']['model3content'] != null}"
                               th:text="${data['content']['model3content']}" style="float: left">
                            </p>
                            <div class="collapse-video-container">
                                <div class="player" data-plyr-provider="youtube"
                                     th:attr="data-plyr-embed-id=${data['content']['model3video']}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="am-panel">
                    <div class="am-panel-hd">
                        <span><img class="" src="/img/0201visit.png"></span>
                        <span th:if="${data['content']['model4title'] != null}"
                              th:text="${data['content']['model4title']}"
                              class="am-panel-title"
                              data-am-collapse="{parent: '#accordion', target: '#do-not-say-4'}">
                    </span>
                    </div>
                    <div id="do-not-say-4" class="am-panel-collapse am-collapse">
                        <div class="am-panel-bd" style="overflow: hidden">
                            <div class="am-u-sm-12">
                                <ul class="am-avg-sm-4 am-thumbnails">
                                    <li th:each="social : ${data['content']['social']}">
                                        <a th:if="${social.isShow eq 'on'}" th:href="${social.url}" target="_blank">
                                            <img class="footer-icon" th:src="${social.logo}"
                                                 src="/img/air.png"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="nav :: nav-right-side"></div>
    </div>
</div>

<!-- 侧边栏内容 -->
<div th:include="nav :: nav-side"></div>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/amazeui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plyr.js}"></script>
<script type="text/javascript">
    const players = Plyr.setup('.player', {controls: ['play-large', 'fullscreen']});
    $(function () {
        var id = '#doc-oc-demo3';
        var $myOc = $(id);
        $('.side-close').on('click', function () {
            $myOc.offCanvas($(this).data('rel'));
        });
    });
</script>
</body>
</html>
