<!DOCTYPE html>
<html>
<head lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>WorkShop</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link th:href="@{/css/amazeui.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/page.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/front/workshop.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:replace="nav :: top-nav"></div>
<div class="main">
    <div class="am-g" style="height:768px">
        <div class="am-u-sm-2 am-vertical-align" style="width: 50px">
            <div class="left-nav am-vertical-align-middle">
                <div class="top">
                    <a href="/page/techtour">
                        <img src="/img/up.png"/>
                        <div class="top-text">Tech Tour</div>
                    </a>
                </div>
                <div class="bottom">
                    <a href="/page/service">
                        <div class="bottom-text">Consultancy Service</div>
                        <img src="/img/down.png"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="main-body am-u-sm-8">
            <div class="title">
                <h1 th:text="${data['content']['title']}" class="title-content">
                </h1>
                <div class="title-background"></div>
            </div>
            <div th:text="${data['content']['content']}" class="content">
            </div>
            <div class="video-content am-u-sm-12">
                <div class="am-u-sm-12" style="height: 100%;width: 492px">
                    <ul class="am-avg-sm-3" id="thumbnail-list">
                        <li th:attr="data-thumb=${data['content']['video1']}">
                            <img class="video-thumbnail" th:src="${data['content']['video1']}">
                        </li>
                        <li th:attr="data-thumb=${data['content']['video2']}">
                            <img class="video-thumbnail" th:src="${data['content']['video2']}">
                        </li>
                        <li th:attr="data-thumb=${data['content']['video3']}">
                            <img class="video-thumbnail" th:src="${data['content']['video3']}">
                        </li>
                    </ul>
                    <img id="carousel-img" src=""/>
                </div>
                <div class="right-side am-u-sm-12" style="height: 100%;width: 526px">
                    <div id="right-side-content-list" class="am-u-sm-12">
                        <div class="am-u-sm-12" style="height: 100%" th:each="model,modelStat : ${data['content']['model']}"
                             th:if="${model.title ne ''}">
                            <div class="title-img-div am-vertical-align">
                                <img class="am-u-sm-5" th:src="${model['image']}">
                                <div th:text="${model['title']}" class="title am-vertical-align-bottom">
                                </div>
                            </div>
                            <p th:text="${model['content']}" class="right-side-content">

                            </p>
                        </div>
                    </div>
                    <div class="right-side-footer am-u-sm-12">
                        <div class="right-side-locat am-u-sm-7">
                        </div>
                        <div class="right-side-nav am-u-sm-4">
                            <img id="right-side-prev" src="/img/0301L_def.png"/>
                            <img id="right-side-next" src="/img/0301R_def.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="am-u-sm-2 am-vertical-align" style="height: 100%">
            <div class="right-nav am-vertical-align-middle">
                <a href="/page/techtour" class="circular"></a>
                <a class="select-circular"></a>
                <a href="/page/service" class="circular"></a>
                <a href="/page/article" class="circular"></a>
                <a href="/page/gallery" class="circular"></a>
                <a href="/page/event" class="circular"></a>
                <a href="/page/testimonials" class="circular"></a>
                <a href="/page/shop" class="circular"></a>
                <a href="/page/about" class="circular"></a>
                <a href="/page/contact" class="circular"></a>
            </div>
        </div>
    </div>
</div>
<!-- 侧边栏内容 -->
<div th:include="nav :: nav-side"></div>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/amazeui.min.js}"></script>
<script>
    $(function () {
        var id = '#doc-oc-demo3';
        var $myOc = $(id);
        $('.side-close').on('click', function () {
            $myOc.offCanvas($(this).data('rel'));
        });
    });
    var url = $('#thumbnail-list').find('li:first-child').find('img').attr('src');
    $("#carousel-img").attr('src', url);
    var list = $('#right-side-content-list').children();
    var locatList = $('.right-side-locat');
    var len = list.length;
    for (var i = 1; i <= len; i++) {
        var html = '<img class="locat-img-s" src="/img/0301locaS.png"/>';
        locatList.append(html);
    }
    list.each(function (index) {
        if (index !== 0) {
            $(this).hide();
        } else {
            locatList.children().eq(index)
                .attr("src", "/img/0301locaL.png")
                .attr("class", "locat-img-l");
        }
    });
    $(".video-thumbnail").click(function () {
        $("#carousel-img").attr('src', $(this).attr('src'));
    });
    $("#right-side-prev").click(function () {
        $('#right-side-content-list').children().each(function (index) {
            if (index === 0) {
                return true;
            }
            if (!$(this).is(':hidden')) {
                locatList.children().eq(index - 1)
                    .attr("src", "/img/0301locaL.png")
                    .attr("class", "locat-img-l");
                locatList.children().eq(index)
                    .attr("src", "/img/0301locaS.png")
                    .attr("class", "locat-img-s");
                $(this).prev().show();
                $(this).hide();
                return false;
            }
        });

    })
    ;
    $("#right-side-next").click(function () {
        $('#right-side-content-list').children().each(function (index) {
            if (index === (len - 1)) {
                return true;
            }
            if (!$(this).is(':hidden')) {
                locatList.children().eq(index + 1)
                    .attr("src", "/img/0301locaL.png")
                    .attr("class", "locat-img-l");
                locatList.children().eq(index)
                    .attr("src", "/img/0301locaS.png")
                    .attr("class", "locat-img-s");
                $(this).next().show();
                $(this).hide();
                return false;
            }
        });
    });
</script>
</body>
</html>
