<!DOCTYPE html>
<html>
<head lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>WorkShop</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link th:href="@{/css/amazeui.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/page.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/plyr.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/front/workshop.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:replace="nav :: top-nav"></div>
<div class="main">
    <div class="am-g" style="height:768px">
        <div th:replace="nav :: nav-left-side"></div>
        <div class="main-body am-u-sm-8">
            <div class="title">
                <h1 th:text="${data['content']['title']}" class="title-content">
                </h1>
                <div class="title-background"></div>
            </div>
            <div th:text="${data['content']['content']}" class="content">
            </div>
            <div class="video-content am-u-sm-12">
                <div class="am-u-sm-12" style="height: 100%;width: 492px">
                    <ul class="am-avg-sm-3" id="thumbnail-list">
                        <li th:attr="data-thumb=${data['content']['video1']}">
                            <div class="video-thumbnail">
                                <div class="player" data-plyr-provider="youtube"
                                     th:attr="data-plyr-embed-id=${data['content']['video1']}">
                                </div>
                            </div>
                        </li>
                        <li th:attr="data-thumb=${data['content']['video2']}">
                            <div class="video-thumbnail">
                                <div class="player" data-plyr-provider="youtube"
                                     th:attr="data-plyr-embed-id=${data['content']['video2']}">
                                </div>
                            </div>
                        </li>
                        <li th:attr="data-thumb=${data['content']['video3']}">
                            <div class="video-thumbnail">
                                <div class="player" data-plyr-provider="youtube"
                                     th:attr="data-plyr-embed-id=${data['content']['video3']}">
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div id="carousel-img" data-am-modal="{target: '#my-popup', width: 800, height: 500}">
                        <div id="player" data-plyr-provider="youtube"
                             th:attr="data-plyr-embed-id=${data['content']['video1']}">
                        </div>
                    </div>
                </div>
                <div class="right-side am-u-sm-12" style="height: 100%;width: 526px">
                    <div id="right-side-content-list" class="am-u-sm-12">
                        <div class="am-u-sm-12" style="height: 100%"
                             th:each="model,modelStat : ${data['content']['model']}"
                             th:if="${model.title ne ''}">
                            <div class="title-img-div am-vertical-align">
                                <img class="am-u-sm-5" th:src="${model['image']}">
                                <div th:text="${model['title']}" class="title am-vertical-align-bottom">
                                </div>
                            </div>
                            <p th:text="${model['content']}" class="right-side-content">

                            </p>
                        </div>
                    </div>
                    <div class="right-side-footer am-u-sm-12">
                        <div class="right-side-locat am-u-sm-7">
                        </div>
                        <div class="right-side-nav am-u-sm-4">
                            <img id="right-side-prev" src="/img/0301L_def.png"/>
                            <img id="right-side-next" src="/img/0301R_def.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="nav :: nav-right-side"></div>
    </div>
</div>
<div class="am-modal am-modal-no-btn" tabindex="-1" id="my-popup">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
        </div>
        <div class="am-modal-bd">
            <div id="pop-player" data-plyr-provider="youtube"
                 th:attr="data-plyr-embed-id=${data['content']['video1']}">
            </div>
        </div>
    </div>
</div>
<!-- 侧边栏内容 -->
<div th:include="nav :: nav-side"></div>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/amazeui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plyr.js}"></script>
<script>
    const controls = `<button type="button" class="plyr__control plyr__control--overlaid plyr__tab-focus"><svg role="presentation" focusable="false"><use xlink:href="#plyr-play"></use></svg><span class="plyr__sr-only">Play</span></button>`
    $(function () {
        var id = '#doc-oc-demo3';
        var $myOc = $(id);
        $('.side-close').on('click', function () {
            $myOc.offCanvas($(this).data('rel'));
        });
        const players = Plyr.setup('.player', {controls, clickToPlay: false});
        const player = new Plyr('#player', {controls, clickToPlay: false});
        const popPlayer = new Plyr('#pop-player');
        $('.video-thumbnail .plyr__control').on('click', function () {
            event.preventDefault();
        });
        $('#player .plyr__control').on('click', function () {
            event.preventDefault();
        });
        $(".video-thumbnail").click(function () {
            var url = $(this).parent().attr('data-thumb');
            player.source = {
                type: 'video',
                sources: [
                    {
                        src: url,
                        provider: 'youtube'
                    }
                ]
            };
            popPlayer.source = {
                type: 'video',
                sources: [
                    {
                        src: url,
                        provider: 'youtube'
                    }
                ]
            };
            e = window.event || e;
            if (e.stopPropagation) {
                e.stopPropagation();      //阻止事件 冒泡传播
            } else {
                e.cancelBubble = true;   //ie兼容
            }
        });
        $('#my-popup').on('close.modal.amui', function () {
            popPlayer.pause();
        });

    });
    var url = $('#thumbnail-list').find('li:first-child').find('img').attr('src');
    $("#carousel-img").attr('src', url);
    var list = $('#right-side-content-list').children();
    var locatList = $('.right-side-locat');
    var len = list.length;
    for (var i = 1; i <= len; i++) {
        var html = '<img class="locat-img-s" src="/img/0301locaS.png"/>';
        locatList.append(html);
    }
    list.each(function (index) {
        if (index !== 0) {
            $(this).hide();
        } else {
            locatList.children().eq(index)
                .attr("src", "/img/0301locaL.png")
                .attr("class", "locat-img-l");
        }
    });

    $("#right-side-prev").click(function () {
        $('#right-side-content-list').children().each(function (index) {
            if (index === 0) {
                return true;
            }
            if (!$(this).is(':hidden')) {
                locatList.children().eq(index - 1)
                    .attr("src", "/img/0301locaL.png")
                    .attr("class", "locat-img-l");
                locatList.children().eq(index)
                    .attr("src", "/img/0301locaS.png")
                    .attr("class", "locat-img-s");
                $(this).prev().show();
                $(this).hide();
                return false;
            }
        });
    })
    ;
    $("#right-side-next").click(function () {
        $('#right-side-content-list').children().each(function (index) {
            if (index === (len - 1)) {
                return true;
            }
            if (!$(this).is(':hidden')) {
                locatList.children().eq(index + 1)
                    .attr("src", "/img/0301locaL.png")
                    .attr("class", "locat-img-l");
                locatList.children().eq(index)
                    .attr("src", "/img/0301locaS.png")
                    .attr("class", "locat-img-s");
                $(this).next().show();
                $(this).hide();
                return false;
            }
        });
    });
</script>
</body>
</html>
