<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cms.dao.TagDao">

    <select id="selectByArticleId" resultType="com.cms.domain.TagDO">
        select t.id,t.name
        from article_tag at
                 left join tag t on t.id = at.tagId
        where articleId = #{id}
    </select>
</mapper>