* {
    margin: 0;
    padding: 0;
}

html, body {
    background-size: cover;
    height: 100%;
    width: 100%;
    line-height: 1;
    font-family: PingFangSC-Light;
    /*background: url("/img/01.jpg") no-repeat top left;*/
}


[class*=am-u-] {
    padding: 0;
}

.main {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    /*Safari*/
    display: -moz-box;
    /*Firefox*/
    display: -ms-flexbox;
    /*IE*/
    display: -webkit-flex;
    /*Chrome*/
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.slide-page .main-body {
    padding: 0 70px;
    width: 1240px;
    height: 768px;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide-page .techtour {
    padding: 56px 70px;
}

.video-popup-player-container {
    padding-top: 10px;
}

/**
设置techtour页面
 */
.techtour-left-side {
    background-image: url(/img/0201.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 658px;
    width: 493px;
}

.techtour-title {
    margin-top: 17%;
    text-align: center;
    overflow: hidden;
    line-height: 0.9;
}

.techtour-title p {
    margin-top: 0;
}

.techtour-left-title {
    margin-left: -27%;
    font-size: 6.4rem;
    font-weight: 300;
    color: rgba(0, 253, 255, 1);
    display: inline;
}

.techtour-right-title {
    font-size: 6.4rem;
    font-weight: 300;
    color: rgba(73, 18, 139, 1);
    margin-left: 6%;
    display: inline;
}

.techtour-content {
    margin: 28px 0 0 198px;
    font-size: 14px;
    padding-right: 21px;
    font-weight: 400;
    color: rgba(73, 18, 139, 1);
    line-height: 1.8;
    height: 208px;
    overflow: hidden;
    text-align: justify;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
}

.techtour .video-container {
    padding-right: 18px;
    margin: 47px 0 0 195px;
}

.techtour .video-container video {
    width: 280px;
    height: 168px;
    object-fit: fill
}

.techtour .am-collapse p {
    width: 420px;
    height: 294px;
    text-align: justify;
    text-justify: newspaper;
    word-break: break-all;
}

.techtour .collapse-video-container {
    width: 150px;
    height: 90px;
    position: relative;
    float: right;
}

.techtour .collapse-video-container .plyr {
    min-width: 150px;
    height: 90px;
}

.techtour .collapse-video-container video {
    width: 150px;
    height: 90px;
    object-fit: fill
}

.techtour .collapse-video-container .plyr__poster {
    width: 150px;
    height: 90px;
}


.techtour .am-panel-hd {
    background: rgba(0, 0, 0, 0);
    font-size: 20px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(246, 246, 246, 1);
}

.techtour .am-panel {
    line-height: 1.6;
    background: rgba(0, 0, 0, 0);
    border-top: 1px solid rgba(0, 253, 255, 1);

}

.techtour .am-panel:last-child {
    border-bottom: 1px solid rgba(0, 253, 255, 1);
}

.techtour .techtour-right-side {
    width: 586px;
    margin-left: 20px;
    padding-top: 50px;
}

.techtour .techtour-right-side .am-panel-collapse .am-panel-bd {
    font-size: 14px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(246, 246, 246, 1);
    padding-left: 0;
    padding-right: 0;
    border-top: 0;
}

.techtour .techtour-right-side .am-panel-title {
    margin-left: 21px;
}


/**
Workshop
 */


.workshop-title {
    position: relative
}

.workshop-title-content {
    font-size: 80px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(0, 253, 255, 1);
    position: absolute;
    top: 43px;
    left: 0;
    z-index: 10;
    line-height: 0.9;
}

.workshop-title-background {
    width: 500px;
    height: 44px;
    background: rgba(73, 18, 139, 1);
    position: absolute;
    top: 82px;
    left: 192px;
}

.workshop-content {
    width: 692px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    margin-top: 173px;
    line-height: 1.6;
    text-align: justify;
}

.workshop-video-container {
    margin-top: 48px;
    height: 410px;
}

.workshop-right-side .title {
    width: 261px;
    margin-left: 25px;
    font-size: 26px;
    font-weight: 300;
    color: rgba(0, 253, 255, 1);
    line-height: 1.5;

}

.workshop-thumbnail-list .video-thumbnail {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}

.workshop-right-container {
    height: 90%;
}

.workshop-right-container .title-img-div {
    height: 140px;
}

.workshop-right-container .title-img-div img {
    width: 240px;
    height: 140px;
    text-align: justify;
}

.workshop-right-content {
    font-size: 16px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    line-height: 1.6;
    text-align: justify;
}

.workshop-right-side .right-side-locat {
    padding-top: 12px;
    height: 100%;
}

.workshop-right-side .right-side-locat img {
    vertical-align: bottom
}


.locat-img-l {
    width: 4px;
    height: 26px;
    margin-right: 15px;
    clear: none;
}

.locat-img-s {
    width: 4px;
    height: 16px;
    margin-right: 15px;
    clear: none;
}

.workshop-right-side-nav {
    float: right;
}

.workshop-right-side-nav img {
    cursor: pointer;
    width: 70px;
    height: 38px;
}

.workshop-right-side-nav img:first-child {
    margin-right: 24px;
}


.workshop-thumbnail-list {
    margin-bottom: 23px;
    width: 100%;
}

.workshop-thumbnail-list li {
    width: 150px;
    height: 90px;
    margin-right: 21px;
}

.workshop-thumbnail-list li:last-child {
    margin-right: 0;
}


.workshop-carousel-img {
    width: 492px;
    height: 296px;
    background: rgba(0, 0, 0, 1);
    opacity: 0.4;
    background-size: cover;
}

.workshop-video-container .plyr {
    min-width: 150px;
}


/**
service
 */
.service-title-content {
    height: 148px;
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 70px;
    padding-top: 3%;
    font-size: 70px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(0, 253, 255, 1);
    background-image: url("/img/0401ornament.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.service-content {
    width: 976px;
    margin-left: 124px;
    height: 73px;
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-align: justify;
    text-justify: newspaper;
    word-break: break-all;
}

.service-boxes {
    margin-top: 25px;
    height: auto;
    overflow: hidden
}

.service-boxes .service-box:first-child {
    margin-right: 40px;
}

.service-boxes .service-box:last-child {
    margin-left: 40px;
}

.service-boxes .service-box {
    padding-left: 15px;
    padding-right: 15px;
    width: 340px;
    float: left;
    background-size: cover;
    height: 500px;
}

.service-box-title {
    height: 77px;
    margin-top: 189px;
    font-size: 30px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    line-height: 1.6;
    text-align: justify;
    text-justify: newspaper;
    word-break: break-all;
}

.service-box-conetnt {
    font-size: 14px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    margin-top: 20px;
    width: 310px;
    height: 161px;
    line-height: 1.5;
    text-align: justify;
    text-justify: newspaper;
    word-break: break-all;
}


/**
gallery
 */


.am-slider-carousel li {
    margin-right: 5px;
}

#gallery-carousel img {
    height: 140px;
    cursor: pointer;
}

.flexslider {
    border: 0;
    background: transparent;
    margin-top: 75px;
}

.big-image {
    width: 722px;
    height: 440px;
    float: right;
}

.gallery-title {
    margin-top: 142px;
    margin-bottom: 0;
    font-size: 80px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(0, 253, 255, 1);
    line-height: 0.75;
}

.gallery-content {
    margin-top: 89px;
    margin-left: 80px;
    width: 740px;
    height: 124px;
    font-size: 14px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    line-height: 1.6;
}

.gallery-content-shadow {
    width: 740px;
    height: 124px;
    background: rgba(0, 0, 0, 1);
    opacity: 0.15;
    position: absolute;
}

.gallery-content-text {
    width: 700px;
    height: 100px;
    margin: 12px 20px;
    position: absolute;
    color: rgba(255, 255, 255, 1);
    text-align: justify;
}

.gallery-content-text:hover {
    color: #0a6aa1;
}

#gallery-slider .gallery-adorn {
    width: 184px;
    height: 109px;
    margin-top: 60px;
    margin-left: 33px;
    position: absolute;
}

.flexslider .slides .image-shadow {
    position: absolute;
    width: 722px;
    height: 440px;
}

.flexslider .slides .big-image img:last-child {
    width: 100%;
    height: 100%;
}

/**
article
 */
.article-main, .event-main {
    padding-top: 106px;
    min-height: 100%;
}

.article-body, .event-body {
    width: 1240px;
    display: block;
    padding-left: 70px;
    padding-right: 70px;
    line-height: 1.6;
    height: auto;
}

.first-floor {
    width: 100%;
    margin-bottom: 42px;
    overflow: hidden;
}

.first-floor .title {
    width: 20%;
    font-size: 68px;
    font-weight: 300;
    color: rgba(0, 253, 255, 1);
    float: left;
    line-height: 1.2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.first-floor .content {
    margin-left: 2%;
    padding-top: 26px;
    width: 77%;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    float: left;
    line-height: 1.4;
    text-overflow: ellipsis;
    overflow: hidden;
}


.search {
    border: 0;
    height: 40px;
}

.search input {
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: #49128B;
}

#article-search-title {
    border-bottom: 1px solid rgba(73, 18, 139, 1);
}

.search input:focus {
    background-color: transparent;
}

.am-input-group .am-form-field {
    width: auto;
}

.search .search-btn {
    margin-top: 14px;
    margin-left: 10px;
    border: 0;
    width: 13px;
    height: 12px;
    background: url(/img/0501search.png) no-repeat center center;
}

.article-body .boxes {
    margin-top: 46px;
    height: auto;
    overflow: hidden;
}

.article-body .box:nth-child(1) {
    margin-right: 1.2%;
}

.article-body .box:nth-child(3) {
    margin-left: 1.2%;
}

.article-body .box {
    width: 100%;
    float: left;
    position: relative;

}

.article-body .box1 {
    width: 39.2%;
    height: 600px;
}

.article-body .box2 {
    width: 29%;
    height: 530px;
}

.article-body .box3 {
    width: 29%;
    height: 431px;
    background: transparent;
}

.article-body .box3 .overlay {
    position: absolute;
    background: rgba(0, 0, 0, 1);
    opacity: 0.7;
}

.article-body .box1 .background {
    width: 100%;
    height: 250px;
    cursor: pointer;
}

.article-body .box2 .background {
    width: 100%;
    height: 200px;
    cursor: pointer;
}

.article-body .text {
    padding-left: 3.7%;
    padding-right: 3.7%;
    height: 58.3%;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    overflow: hidden;
    color: rgba(59, 59, 59, 1);
}

.article-body .box2 .text {
    height: 62%;
}

.article-body .box3 .text {
    color: rgba(255, 255, 255, 1);
    background: transparent;
    padding-top: 164px;
    height: 100%;

}

.article-body .box-title {
    margin-bottom: 20px;
    margin-top: 36px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(19, 19, 19, 1);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: justify;
    word-break: break-all;
    line-height: 1.4;
}

.article-body .box-title:hover {
    color: #0d8ddb;
    cursor: pointer;
}

.article-body .box1 .box-title {
    width: 404px;
    height: 50px;

}

.article-body .box2 .box-title {
    width: 291px;
    height: 46px;
}

.article-body .box3 .box-title {
    margin-top: 0;
    color: rgba(255, 255, 255, 1);
}

.article-body .box3 .box-title:hover {
    color: #0d8ddb;
    cursor: pointer;
}

.article-body .box-conetnt {
    font-size: 14px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.6;
}

.article-body .box1 .box-conetnt {
    width: 404px;
    height: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    text-align: justify;
    word-break: break-all;
}

.article-body .box2 .box-conetnt {
    width: 292px;
    height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    text-align: justify;
    word-break: break-all;
}

.article-body .box3 .box-conetnt {
    width: 292px;
    height: 61px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-align: justify;
    word-break: break-all;
}

.tag-list {
    height: 6.29%;
    font-size: 14px;
    margin: 29px auto 0;
    padding: 0;
    clear: both;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(59, 59, 59, 1);
}

.tag {
    min-width: 50px;
    height: 22px;
    text-align: center;
    background: rgba(73, 18, 139, 1);
    border: 1px solid rgba(73, 18, 139, 1);
    font-size: 12px;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    margin-right: 10px;
    padding: 5px 10px;
    display: inline-block;
    cursor: pointer;
    line-height: 1;
}

.tag:last-child {
    margin-right: 0;
}

.article-body .author {
    margin-top: 19px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    height: 12px;
}

.article-body .create-time {
    margin-top: 18px;
    font-size: 14px;
    font-weight: 300;
}

.article-body .social-icon {
    top: 36%;
    left: 78%;
    position: absolute;
}

.article-body .box2 .social-icon {
    top: 32%;
    left: 74%;
    position: absolute;
}

.article-body .box3 .social-icon {
    top: 3%;
    left: 87%;
    position: absolute;
}

.load-more {
    padding-top: 12px;
    height: 50px;
    border: 1px solid rgba(0, 253, 255, 1);
    background: transparent;
    font-size: 18px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(0, 253, 255, 1);
    text-align: center;
    cursor: pointer;
}

/**
event
 */
.event-body .tag {
    position: absolute;
    background: url("/img/tag-bg.png");
    min-width: 70px;
    height: 30px;
    text-align: center;
    padding: 9px 10px;
    margin-top: 241px;
    font-size: 14px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    line-height: 1;
    cursor: pointer;
}

.event-body .search {
    border: 0;
    height: 40px;
}

.event-body .search .am-input-group input {
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: #49128B;
}

#event-search-date {
    border-bottom: 1px solid rgba(73, 18, 139, 1);
}

#event-search-tag {
    width: 280px;
    background: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(73, 18, 139, 1);
}

.event-body .boxes {
    margin-top: 2.22%;
    height: auto;
    overflow: hidden
}

.event-body .boxes .box {
    padding-right: 0.6%;
    padding-left: 0.6%;
    height: 466px;
}

.event-body .box > img {
    width: 100%;
    height: 256px;
    cursor: pointer;
}

.event-body .box .text {
    height: 210px;
    padding-top: 24px;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    background: rgba(255, 255, 255, 1);
}

.event-title {
    margin-bottom: 0;
    height: 43px;
    font-size: 14px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(19, 19, 19, 1);
    overflow: hidden;
    cursor: pointer;
}

.event-title:hover{
    color: #0a6aa1;
}

.event-date {
    margin-top: 16px;
    margin-bottom: 0;
    height: 20px;
    font-size: 14px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(59, 59, 59, 1);
    line-height: 1;
}

.event-address {
    height: 42px;
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 14px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(59, 59, 59, 1);
    overflow: hidden;
}

.event-address img {
    width: 14px;
    height: 36px;
    float: left;
}

.event-address p {
    margin: 0;
    width: 208px;
    height: 35px;
    float: right;
}

.event-price {
    height: 19px;
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 20px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(251, 100, 0, 1);
    line-height: 1;
}

/**
testimonials
 */
.testimonials {
    position: relative;
    background-image: url("/img/0801bg1.png");
    background-repeat: no-repeat;
    background-position: left 25px;
}

.testimonials-bg-a {
    width: 1136px;
    height: 616px;
    top: 23px;
    position: relative;
}

.testimonials-bg-b {
    margin-left: 40px;
    width: 1060px;
    height: 570px;
    background: url("/img/0801bg2.png") no-repeat center center;
}

.testimonials-title {
    margin-top: 48px;
    font-size: 70px;
    font-weight: 300;
    color: rgba(0, 253, 255, 1);
    line-height: 0.75;
}

.testimonials-title-content {
    margin-left: 40px;
    margin-top: 24px;
    margin-bottom: 21px;
    width: 670px;
    height: 12px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    line-height: 0.75;
}

.testimonials-left .first-video {
    margin-top: 50px;
    margin-left: 40px;
    width: 150px;
    height: 90px;
    background: rgba(0, 0, 0, 1);
    opacity: 0.4;
    position: absolute;
}

.testimonials-left .second-video {
    margin-top: 201px;
    margin-left: 124px;
    width: 280px;
    height: 168px;
    background: rgba(0, 0, 0, 1);
    opacity: 0.4;
    position: absolute;
}

.testimonials-left .third-video {
    margin-top: 430px;
    margin-left: 40px;
    width: 150px;
    height: 90px;
    background: rgba(0, 0, 0, 1);
    opacity: 0.4;
    position: absolute;
}

.testimonials-left .up-video {
    margin-top: 230px;
    margin-left: 40px;
    width: 28px;
    height: 40px;
    position: absolute;
    cursor: pointer;
}

.testimonials-left .down-video {
    margin-top: 300px;
    margin-left: 40px;
    width: 28px;
    height: 40px;
    position: absolute;
    cursor: pointer;
}

.testimonials-right-list .people-pic {
    width: 60px;
    height: 60px;
    background: rgba(240, 0, 255, 1);
    border-radius: 50%;
    top: 32px;
    left: 364px;
    position: relative;
}

.testimonials-right-list .head-title-name {
    width: 439px;
    height: 20px;
    margin: 0;
    font-size: 26px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(73, 18, 139, 1);
    top: -19px;
    left: 450px;
    position: relative;
    display: block;
}

.testimonials-right-list .head-title-description {
    width: 434px;
    height: 35px;
    font-size: 14px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(59, 59, 59, 1);
    margin-top: 12px;
    left: 450px;
    position: relative;
}

.testimonials-right-list .head-title-img {
    width: 104px;
    height: 93px;
    right: 100px;
    top: 190px;
    position: absolute;
}


.testimonials-right-list .content {
    width: 570px;
    height: 280px;
    font-size: 16px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(19, 19, 19, 1);
    margin-top: 58px;
    margin-right: 40px;
    margin-left: 450px;
    position: relative;
    line-height: 1.6;
    text-align: justify;
}

.testimonials-controller-icon {
    margin-left: 364px;
    margin-top: 26px;
    padding-right: 40px;
    overflow: hidden;
}

.testimonials-controller-icon img {
    width: 70px;
    height: 38px;
    background: rgba(73, 18, 139, 1);
    cursor: pointer;
}


.am-offcanvas-content * + h3 {
    margin-top: 3em;
}

.am-vertical-align {
    height: 100%;
}

.am-g-fixed {
    max-width: 1920px;
}

.am-topbar {
    width: 100%;
    position: absolute;
    margin-bottom: 0;
    border-bottom-width: 0;
    background: rgba(0, 0, 0, 0);
    top: 0;
    left: 0;
    z-index: 999;
}

.am-offcanvas-bar {
    width: 50%;
    height: 100%;
    background-color: #49128B;
    background-image: url(/img/0103menu.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

.am-offcanvas-content {
    padding-left: 100px;
    padding-top: 80px;
}

.am-offcanvas-content a {
    width: 128px;
    height: 27px;
    font-size: 28px;
    color: rgba(0, 253, 255, 1);
}

.am-offcanvas-content a:hover {
    border-bottom: 5px solid rgba(255, 138, 0, 1);
}

.side-close {
    padding: 17px;
    float: right;
}

.side-close:hover {
    cursor: pointer;
}

.nav-logo {
    width: 150px;
    height: 26px;
    margin-top: 12px;
    margin-left: 2.08%;
    position: absolute;
    top: 0;
    left: 0;
}

.nav {
    width: 26px;
    height: 26px;
    top: 12px;
    left: 96.56%;
    position: absolute;
    cursor: pointer;
}

.footer-icon {
    width: 180px;
    height: 64px;
}

footer {
    background: rgba(9, 3, 1, 1);
}

.am-footer {
    padding-left: 18.75%;
    padding-right: 18.75%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 9.26%;
}

.gallery .flex-prev {
    top: 0;
    width: 34px;
    height: 140px;
    background: url("/img/0601L_def.png") no-repeat center center;
}

.gallery .flex-next {
    top: 0;
    width: 34px;
    height: 140px;
    background: url("/img/0601R_def.png") no-repeat center center;
}

.left-nav {
    padding-left: 17px;
    background: transparent;
    font-size: 14px;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    opacity: 0.6;
}

.left-nav .top {
    margin-top: 117px;
    width: 50px;
}

.left-nav a {
    display: block;
}

.left-nav img {
    width: 15px;
    height: 23px;
}

.left-nav .top-text {
    font-size: 14px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    text-align: right;
    color: rgba(255, 255, 255, 1);
    margin-top: 45px;
    margin-left: -36px;
    opacity: 0.6;
    height: 80px;
    width: 150px;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg); /* IE 9 */
    -moz-transform: rotate(-90deg); /* Firefox */
    -webkit-transform: rotate(-90deg); /* Safari 和 Chrome */
    -o-transform: rotate(-90deg); /* Opera */
}

.left-nav .bottom-text {
    font-size: 14px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    height: 50px;
    width: 150px;
    text-align: left;
    margin-bottom: 60px;
    margin-left: -50px;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg); /* IE 9 */
    -moz-transform: rotate(-90deg); /* Firefox */
    -webkit-transform: rotate(-90deg); /* Safari 和 Chrome */
    -o-transform: rotate(-90deg); /* Opera */
}

.left-nav .bottom {
    margin-top: 257px;
    width: 50px;
}

.right-nav {
    margin-left: 88%
}

.right-nav a:first-child {
}

.bottom-social-list {
    border-top: 1px solid rgba(0, 253, 255, 1);
    margin-left: 2.83%;
    margin-right: 2.83%;
    padding-top: 4.17%;
    padding-left: 80px;
    margin-bottom: 4.17%;
}

.bottom-social-list a {
    margin-right: 40px;
}

.select-circular {
    margin-bottom: 20px;
    width: 12px;
    height: 12px;
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    display: block;
}

.circular {
    margin-bottom: 20px;
    width: 12px;
    height: 12px;
    border: 1px solid rgba(255, 255, 255, 1);
    opacity: 0.4;
    border-radius: 5px;
    display: block;
    cursor: pointer;
}

/**
product
 */
.product-text {
    width: 601px;
    float: left;
}

.product {
    margin-top: 47px;
    line-height: 1.6;
}

.product-title {
    width: 600px;
    height: 90px;
    font-size: 32px;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    line-height: 1.6;
    margin: 0;
    text-align: justify;
    text-justify: newspaper;
    word-break: break-all;
}

.product-tag-list {
    margin-top: 16px;
    height: 22px;
}

.product .am-btn {
    width: 170px;
    height: 42px;
    background: rgba(251, 100, 0, 1);
    font-size: 16px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
}

.product-description {
    width: 600px;
    height: 76px;
    margin-top: 16px;
    margin-bottom: 16px;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-align: justify;
    text-justify: newspaper;
    word-break: break-all;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
}

.price {
    margin-top: 6px;
    height: 28px;
    font-size: 30px;
    font-weight: 400;
    color: rgba(251, 100, 0, 1);
    line-height: 1;
}

.image-list {
    overflow: hidden;
}

.right-image {
    width: 480px;
    float: right;
}

.controller-list {
    margin-top: 19px;
    width: 140px;
    float: right;
    overflow: hidden;
}


.image-controller {
    width: 14px;
    height: 14px;
    background: rgba(255, 255, 255, 1);
    opacity: 0.4;
    border-radius: 50%;
    margin-right: 12px;
    float: right;
    cursor: pointer;
}

.image-controller-select {
    background: rgba(251, 100, 0, 1);
}

.controller-list .controller:first-child {
    margin: 0;
}

.product-detail {
    margin-top: 20px;
    font-size: 14px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(216, 218, 220, 1);
    text-align: justify;
    text-justify: newspaper;
    word-break: break-all;
}

.product-detail li {
    margin-bottom: 16px;
    font-size: 14px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(216, 218, 220, 1);
}

.product-image {
    width: 400px;
    height: 400px;
    border-radius: 6px;
    display: block;
    float: right;
}

.product-like-list {
    margin-top: 20px;
}

.product-like-text {
    width: 168px;
    float: left;
}

.product-like-text h3 {
    width: 72px;
    height: 15px;
    font-size: 18px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(156, 155, 155, 1);
}

.product-like-text h1 {
    width: 150px;
    height: 24px;
    font-size: 24px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(156, 155, 155, 1);
}

.product-like-list > .am-avg-sm-5 > .product-like {
    width: 176px;
    height: 236px;
    margin-right: 10px;
    cursor: pointer;
}

.product-like-list > .am-avg-sm-5 > .product-like:last-child {
    margin-right: 0;
}

.product-like img {
    max-width: 100%;
    height: 176px;
}

.product-like-list h3 {
    margin-top: 21px;
    font-size: 18px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(156, 155, 155, 1);
}

.product-like-list h1 {
    font-size: 24px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(156, 155, 155, 1);
    margin-top: 30px;
}

.product-like-list .controller {
    margin-top: 81px;
}

.product-like-list .controller img {
    width: 70px;
    height: 38px;
    cursor: pointer;
}

.product-like-list .controller img:last-child {
    float: right;
}


.product-info {
    line-height: 1;
    width: 176px;
    height: 60px;
    padding: 10px;
    background: url("/img/product_like.png");
    background-size: cover;
    border-radius: 0 0 2px 2px;
    font-size: 14px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
}

.product-info p {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 157px;
    font-size: 14px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
}

.product-info p:last-child {
    margin-top: 12px;
}

/**
about
 */

.about .am-tabs-bd .am-tab-panel {
    padding: 0;
}

.about .am-nav-tabs > li.am-active > a {
    border: 0;
    font-size: 56px;
    font-weight: 300;
    color: rgba(0, 253, 255, 1);
    background: transparent;
}

.about .am-nav-tabs > li.am-active > a, .am-nav-tabs > li.am-active > a:focus, .am-nav-tabs > li.am-active > a:hover {
    border: 0;
    font-size: 56px;
    font-weight: 300;
    color: rgba(0, 253, 255, 1);
    background: transparent;
}

.about .am-nav-tabs > li > a {
    font-size: 56px;
    font-weight: 300;
    color: rgba(61, 34, 60, 1);
    line-height: 0.75;
    border: 1px solid transparent;
    border-radius: 0;
}

.about .am-tabs-bd {
    border: 0
}

.about .am-nav-tabs {
    margin-top: 39px;
    border: 0;
}

.about .am-tab-panel > p:first-child {
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
}

.about .about-who .left-side {
    margin-top: 33px;
    width: 460px;
    float: left;
}

.about-who-info{
    padding-right: 5px;
}

.about .people-name {
    margin-top: 49px;
    font-size: 36px;
    font-weight: 300;
    color: rgba(255, 192, 0, 1);
}

.about .people-description {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 300;
    color: rgba(156, 155, 155, 1);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.about .people-content {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    line-height: 1.6;
    padding-right: 5px;
    height: 266px;
    text-align: justify;
}

.about-who-carousel {
    margin-top: 20px;
}

.about-who-carousel ul {
    padding-left: 0;
}

.about-who-carousel img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.about-who-carousel img:hover {
    transform: scale(1);
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.about-who-carousel li {
    margin-right: 24px;
    float: left;
    display: block;
}

.about-who-right-side {
    margin-top: 33px;
    width: 640px;
    height: 580px;
    float: right;
}

.about-who-right-side img {
    width: 100%;
    height: 100%;
}

.about-what h1 {
    font-size: 26px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
}

.about .box-line {
    margin-top: 40px;
    height: 264px;
    position: relative;
}

.about .box {
    width: 530px;
    height: 264px;
    float: left;
    position: relative;
    margin-right: 20px;
}

.about .box-title {
    height: 70px;
    margin-bottom: 30px;
    position: relative;
}

.about .box-title img {
    width: 70px;
    height: 70px;
    float: left;
}

.about .box-title-content {
    width: 420px;
    font-size: 26px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    margin-left: 23px;
}

.about .am-tabs-nav li:first-child {
    margin-right: 168px;
}

.about .am-nav > li > a {
    padding: 0;
}

.about .am-active .tab-bg {
    width: 200px;
    height: 30px;
    background: rgba(73, 18, 139, 1);
    opacity: 0.89;
    margin-left: 26px;
    z-index: -999;
    margin-top: -19px;
}

.about .box .content {
    width: 513px;
    height: 161px;
    font-size: 14px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    line-height: 1.6;
    text-align: justify;
    text-justify: newspaper;
    word-break: break-all;
}

.about .social-list {
    margin-top: 45px;
}

.about .social-list a {
    margin-right: 40px;
}

/**
contact
 */
.main .contact {
    width: 770px;
    height: 768px;
    background: rgba(13, 1, 24, 1);
}

.contact-content {
    padding-top: 57px;
    padding-left: 71px;
    padding-right: 71px;
    background: rgba(13, 1, 24, 1);
    height: 100%;
}

.contact-title1 {
    width: 230px;
    height: 24px;
    font-size: 30px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(0, 253, 255, 1);
    border-bottom: 4px solid rgba(255, 138, 0, 1);
}

.contact-title2 {
    width: 420px;
    height: 24px;
    font-size: 30px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(0, 253, 255, 1);
    margin-top: 44px;
    border-bottom: 4px solid rgba(255, 138, 0, 1);
}

.contact-content form {
    margin-top: 66px;
    font-size: 18px;
    font-family: PingFangSC-Ultralight;
    font-weight: 200;
    color: rgba(255, 255, 255, 1);
}

.contact-content form input {
    width: 100%;
    height: 61px;
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-color: #00FDFF;
    border-width: 1px;
    font-size: 18px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
}

.contact-content form input:focus {
    background-color: transparent;
    outline: 0;
    box-shadow: none
}

.contact-content form button {
    margin-top: 34px;
    width: 140px;
    height: 44px;
    background: rgba(0, 253, 255, 1);
    float: right;
    font-size: 18px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(73, 18, 139, 1);
}

@media screen and (max-width: 1440px) {
    .am-u-sm-2 {
        width: 8.333%;
    }

    .main-body .article-info .custom-icon {
        width: 24%;
    }

    .right-nav {
        margin-left: 80%
    }
}


