<header class="am-topbar" th:fragment=top-nav>
    <a href="/" th:if="${index!=null&&index['indexLogo']!=null}">
        <img class="nav-logo" th:src="${index['indexLogo']}"/>
    </a>
    <a th:if="${index==null||index['indexLogo']==null}" href="/">
        <img class="nav-logo" src="/img/logo.png"/></a>
    <img class="nav" src="/img/nav.png" data-am-offcanvas="{target: '#doc-oc-demo3'}">
</header>

<div th:fragment=index-nav-side>
    <div id="doc-oc-demo3" class="am-offcanvas">
        <div class="am-offcanvas-bar am-offcanvas-bar-flip">
            <div class="side-close" data-rel="close">
                <img src="/img/0103close.png">
            </div>
            <div class="am-offcanvas-content">
                <h3 th:each="nav,navStat : ${navList}">
                    <a th:href="|/page?page=${navStat.count}|" th:text="${nav['navname']}"></a>
                </h3>
            </div>
            <div class="bottom-social-list">
                <a th:if="${navSocialList}"
                   th:each="social,socialStat :${navSocialList}"
                   th:href="${social['url']}" target="_blank">
                    <img th:if="${social.logo ne ''}"
                         th:src="|/img/0503share_${#strings.toLowerCase(social.logo)}_def.png|"/>
                </a>
            </div>
        </div>
    </div>
</div>

<div th:fragment=nav-side>
    <div id="doc-oc-demo3" class="am-offcanvas">
        <div class="am-offcanvas-bar am-offcanvas-bar-flip">
            <div class="side-close" data-rel="close">
                <img src="/img/0103close.png">
            </div>
            <div class="am-offcanvas-content">
                <h3 th:each="nav,navStat : ${navList}">
                    <a th:text="${nav['navname']}" th:onclick="|navslidepage(${navStat.count})|" href="#"></a>
                </h3>
            </div>
            <div class="bottom-social-list">
                <a th:if="${navSocialList}"
                   th:each="social,socialStat :${navSocialList}"
                   th:href="${social['url']}" target="_blank">
                    <img th:if="${social.logo ne ''}"
                         th:src="|/img/0503share_${#strings.toLowerCase(social.logo)}_def.png|"/>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="am-u-sm-2 am-vertical-align right-nav-parent" style="height: 768px" th:fragment=nav-right-side>
    <div class="right-nav am-vertical-align-middle">
        <a th:each="nav : ${navList}" th:href="${nav['url']}"
           th:class="${data['id']==nav['id'] ? 'select-circular' : 'circular'}"></a>
    </div>
</div>

<div th:class="${next['name'] != null?'am-u-sm-2 am-vertical-align left-nav-parent':'am-u-sm-2'}" style="height: 768px"
     th:fragment=nav-left-side>
    <div class="left-nav am-vertical-align-middle" th:if="${next['name'] != null}">
        <div class="top" th:if="${prev['name'] != null}">
            <a th:href="${prev['url']}">
                <img src="/img/up.png"/>
                <div class="top-text" th:text="${prev['navname']}"></div>
            </a>
        </div>
        <div class="top" th:if="${prev['name'] == null}">
            <a href="/page/index">
                <img src="/img/up.png"/>
                <div class="top-text">Home</div>
            </a>
        </div>
        <div class="bottom" th:if="${next['name'] != null}">
            <a th:href="${next['url']}">
                <div class="bottom-text" th:text="${next['navname']}"></div>
                <img src="/img/down.png"/>
            </a>
        </div>
    </div>
    <div class="left-nav" th:if="${next['name'] == null}">
        <div class="top">
            <a th:href="${prev['url']}">
                <img src="/img/up.png"/>
                <div class="top-text" th:text="${prev['navname']}"></div>
            </a>
        </div>
    </div>
</div>

<div class="left-nav am-vertical-align-middle" th:fragment=other-nav-left-side>
    <div class="top">
        <a href="/page/event">
            <img src="/img/up.png"/>
            <div class="top-text">Event</div>
        </a>
    </div>
    <div class="bottom">
        <a href="/page/shop">
            <div class="bottom-text">Shop</div>
            <img src="/img/down.png"/>
        </a>
    </div>
</div>