<div th:fragment=top-nav>
    <header class="am-topbar">
        <span th:if="${index!=null&&index['indexLogo']!=null}">
            <a href="/"><img class="nav-logo" th:src="${index['indexLogo']}"/></a>
        </span>
        <span th:if="${index==null||index['indexLogo']==null}">
            <a href="/"><img class="nav-logo" src="/img/logo.png"/></a>
        </span>
        <span><img class="nav" src="/img/nav.png" data-am-offcanvas="{target: '#doc-oc-demo3'}"></span>
    </header>
</div>

<div th:fragment=nav-side>
    <div id="doc-oc-demo3" class="am-offcanvas">
        <div class="am-offcanvas-bar am-offcanvas-bar-flip">
            <div class="side-close" data-rel="close">
                <img src="/img/0103close.png">
            </div>
            <div class="am-offcanvas-content">
                <h3>
                    <a href="/page/techtour">Tech Tour</a>
                </h3>
                <h3>
                    <a href="/page/workshop">Workshop</a>
                </h3>
                <h3>
                    <a href="/page/service">Consultancy Service</a>
                </h3>
                <h3>
                    <a href="/page/article">Article</a>
                </h3>
                <h3>
                    <a href="/page/gallery">Gallery</a>
                </h3>
                <h3>
                    <a href="/page/event">Event</a>
                </h3>
                <h3>
                    <a href="/page/testimonials">Testimonials</a>
                </h3>
                <h3>
                    <a href="/page/shop">Shop</a>
                </h3>
                <h3>
                    <a href="/page/about">About us</a>
                </h3>
                <h3>
                    <a href="/page/contact">Contact us</a>
                </h3>
            </div>
        </div>
    </div>
</div>