<header class="am-topbar" th:fragment=top-nav>
    <a href="/" th:if="${index!=null&&index['indexLogo']!=null}">
        <img class="nav-logo" th:src="${index['indexLogo']}"/>
    </a>
    <a th:if="${index==null||index['indexLogo']==null}" href="/">
        <img class="nav-logo" src="/img/logo.png"/></a>
    <img class="nav" src="/img/nav.png" data-am-offcanvas="{target: '#doc-oc-demo3'}">
</header>

<div th:fragment=nav-side>
    <div id="doc-oc-demo3" class="am-offcanvas">
        <div class="am-offcanvas-bar am-offcanvas-bar-flip">
            <div class="side-close" data-rel="close">
                <img src="/img/0103close.png">
            </div>
            <div class="am-offcanvas-content">
                <h3>
                    <a href="/page/techtour?type=2">Tech Tour</a>
                </h3>
                <h3>
                    <a href="/page/workshop?type=3">Workshop</a>
                </h3>
                <h3>
                    <a href="/page/service?type=4">Consultancy Service</a>
                </h3>
                <h3>
                    <a href="/page/article">Article</a>
                </h3>
                <h3>
                    <a href="/page/gallery">Gallery</a>
                </h3>
                <h3>
                    <a href="/page/event">Event</a>
                </h3>
                <h3>
                    <a href="/page/testimonials?type=5">Testimonials</a>
                </h3>
                <h3>
                    <a href="/page/shop">Shop</a>
                </h3>
                <h3>
                    <a href="/page/about?type=6">About us</a>
                </h3>
                <h3>
                    <a href="/page/contact">Contact us</a>
                </h3>
            </div>
        </div>
    </div>
</div>