<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link rel="stylesheet" href="/css/layui.css" media="all">
<link href="/css/plugins/steps/jquery.steps.css" rel="stylesheet">
<link rel="stylesheet" href="/js/plugins/webuploader/webuploader.css" media="all">
<style>
    .layui-upload-img {
        width: 200px;
        height: 200px;
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <h3>菜单信息</h3>
                        <fieldset id="menu-info" class="ibox-content">
                            <div th:include="allnav :: menu-info"></div>
                        </fieldset>
                        <h3>页面信息</h3>
                        <fieldset id="page-info" class="ibox-content">
                            <div class="layui-card">
                                <div class="layui-card-header">
                                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                                        <legend>Tab1 标题块</legend>
                                    </fieldset>
                                </div>
                                <!-- /.box-header -->
                                <div class="layui-card-body">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">标题：</label>
                                        <div class="col-sm-8">
                                            <input id="tab1title" name="content[tab1][title]" class="form-control"
                                                   type="text" th:value="${nav['content']['tab1']['title']}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">摘要：</label>
                                        <div class="col-sm-8">
                                        <textarea id="tab1content" name="content[tab1][content]" class="form-control"
                                                  rows="3" th:text="${nav['content']['tab1']['content']}"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <div id="tab1-model-list">
                                <div th:each="model,modelStat:${nav['content']['tab1']['model']}"
                                     th:id="mode+${modelStat.count}" class="layui-card">
                                    <div class="layui-card-header">
                                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                                            <legend th:text="模块+${modelStat.count}"></legend>
                                        </fieldset>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="layui-card-body">
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">人物姓名：</label>
                                            <div class="col-sm-4">
                                                <input th:attr="name=content[tab1][model][+${modelStat.index}+][name]"
                                                       class="form-control"
                                                       type="text" th:value="${model['name']}"/>
                                            </div>
                                            <label class="col-sm-1 control-label">人物简介 ：</label>
                                            <div class="col-sm-4">
                                        <textarea th:attr="name=content[tab1][model][+${modelStat.index}+][description]"
                                                  class="form-control"
                                                  rows="3" th:text="${model['description']}"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">人物排序 ：</label>
                                            <div class="col-sm-4">
                                                <input th:attr="name=content[tab1][model][+${modelStat.index}+][order]"
                                                       class="form-control"
                                                       type="number" th:value="${model['order']}"/>
                                            </div>
                                            <label class="col-sm-1 control-label">段落 ：</label>
                                            <div class="col-sm-6">
                                        <textarea th:attr="name=content[tab1][model][+${modelStat.index}+][content]"
                                                  class="form-control"
                                                  rows="5" th:text="${model['content']}"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">人物肖像：</label>
                                            <div class="layui-upload col-sm-4">
                                                <button type="button" class="layui-btn about-upload-btn"
                                                        th:id="pic-button-+${modelStat.index}">上传图片
                                                </button>
                                                <button type="button" class="layui-btn about-upload-clear"
                                                        th:id="pic-clear-+${modelStat.index}">清除
                                                </button>
                                                <div class="layui-upload-list">
                                                    <img th:if="${model['pic']!=null && model['pic'] ne ''}"
                                                         th:src="${model['pic']}" class="layui-upload-img"
                                                         th:id="pic-+${modelStat.index}">
                                                    <img th:if="${model['pic']==null || model['pic'] eq ''}"
                                                         class="layui-upload-img" th:id="pic-+${modelStat.index}">
                                                    <p th:id="pic-text-+${modelStat.index}"></p>
                                                </div>
                                            </div>
                                            <input th:id="pic-value-+${modelStat.index}"
                                                   th:attr="name=content[tab1][model][+${modelStat.index}+][pic]"
                                                   class="form-control" type="hidden"
                                                   th:value="${model['pic']}"/>
                                            <label class="col-sm-1 control-label">图片：</label>
                                            <div class="layui-upload col-sm-4">
                                                <button type="button" class="layui-btn about-upload-btn"
                                                        th:id="image-button-+${modelStat.index}">上传图片
                                                </button>
                                                <button type="button" class="layui-btn about-upload-clear"
                                                        th:id="image-clear-+${modelStat.index}">清除
                                                </button>
                                                <div class="layui-upload-list">
                                                    <img th:if="${model['image']!=null && model['image'] ne ''}"
                                                         th:src="${model['image']}" class="layui-upload-img"
                                                         th:id="image-+${modelStat.index}">
                                                    <img th:if="${model['image']==null || model['image'] eq ''}"
                                                         class="layui-upload-img" th:id="image-+${modelStat.index}">
                                                    <p th:id="image-text-+${modelStat.index}"></p>
                                                </div>
                                            </div>
                                            <input th:id="image-value-+${modelStat.index}"
                                                   th:attr="name=content[tab1][model][+${modelStat.index}+][image]"
                                                   class="form-control" type="hidden"
                                                   th:value="${model['image']}"/>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-8 link-table">
                                                <div class="ibox float-e-margins">
                                                    <div class="ibox-title">
                                                        <h5>社交媒体链接添加(每个媒体只能添加一个，重复会被覆盖)</h5>
                                                    </div>
                                                    <span id="addLink" class="btn btn-primary"
                                                          onclick="addLink(0)">添加</span>
                                                    <div class="ibox-content">
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th>社交媒体名称</th>
                                                                <th>url链接</th>
                                                                <th>排序</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody id="linktable-0">
                                                            <tr th:each="social,socialStat:${model['social']}">
                                                                <td><select class="form-control m-b"
                                                                            th:attr="name=content[tab1][model][+${modelStat.index}+][social][+${socialStat.index}+][type]">
                                                                    <option value=></option>
                                                                    <option th:selected="${social.type eq 'Facebook'}"
                                                                            value="Facebook">Facebook
                                                                    </option>
                                                                    <option th:selected="${social.type eq 'Linkedin'}"
                                                                            value="Linkedin">Linkedin
                                                                    </option>
                                                                    <option th:selected="${social.type eq 'Twitter'}"
                                                                            value="Twitter">Twitter
                                                                    </option>
                                                                    <option th:selected="${social.type eq 'Medium'}"
                                                                            value="Medium">Medium
                                                                    </option>
                                                                    <option th:selected="${social.type eq 'Instagram'}"
                                                                            value="Instagram">Instagram
                                                                    </option>
                                                                </select></td>
                                                                <td><input
                                                                        th:attr="name=content[tab1][model][+${modelStat.index}+][social][+${socialStat.index}+][url]"
                                                                        class="form-control"
                                                                        type="url" th:value="${social['url']}"></td>
                                                                <td><input
                                                                        th:attr="name=content[tab1][model][+${modelStat.index}+][social][+${socialStat.index}+][order]"
                                                                        class="form-control"
                                                                        type="number" th:value="${social['order']}">
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="addModel" class="ibox-title" style="height: 20px;cursor: pointer;font-size: 24px">
                                <i class="fa fa-plus-square-o col-sm-6 control-label" onclick="addModel()">新增模块</i>
                            </div>
                            <div class="layui-card">
                                <div class="layui-card-header">
                                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                                        <legend>Tab 2 标题块</legend>
                                    </fieldset>
                                </div>
                                <!-- /.box-header -->
                                <div class="layui-card-body">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">标题：</label>
                                        <div class="col-sm-8">
                                            <input id="tab2title" name="content[tab2][title]" class="form-control"
                                                   type="text" th:value="${nav['content']['tab2']['title']}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">摘要：</label>
                                        <div class="col-sm-8">
                                        <textarea id="tab2content" name="content[tab2][content]" class="form-control"
                                                  rows="3" th:text="${nav['content']['tab2']['content']}"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <div id="tab2">
                                <div class="layui-card" th:each="model,modelStat : ${nav['content']['tab2']['model']}">
                                    <div class="layui-card-header">
                                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                                            <legend th:text="模块+${modelStat.count}"></legend>
                                        </fieldset>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="layui-card-body">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">标题：</label>
                                            <div class="col-sm-8">
                                                <input th:attr="name=content[tab2][model][+${modelStat.index}+][title]"
                                                       class="form-control"
                                                       type="text" th:value="${model['title']}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-la bel">段落：</label>
                                            <div class="col-sm-8">
                                            <textarea
                                                    th:attr="name=content[tab2][model][+${modelStat.index}+][content]"
                                                    class="form-control"
                                                    rows="3" th:text="${model['content']}"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">媒体图片：</label>
                                            <div class="col-sm-8">
                                                <input th:attr="name=content[tab2][model][+${modelStat.index}+][image]"
                                                       class="form-control"
                                                       type="text" th:value="${model['image']}">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                            </div>
                        </fieldset>
                        <h3>SEO信息</h3>
                        <fieldset id="seo-info" class="ibox-content">
                            <div th:include="allnav :: seo-info"></div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script src="/js/plugins/staps/jquery.steps.min.js"></script>
<script src="/js/plugins/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="/js/plugins/webuploader/webuploader.js"></script>
<script type="text/javascript" src="/js/appjs/cms/nav/showLink.js"></script>
<script type="text/javascript" src="/js/appjs/cms/nav/nav-edit.js"></script>
<script>
    function addLink(id) {
        var tbody = $("#linktable-" + id);
        var len = tbody.children('tr').length;
        if (len >= 6) {
            alert('链接已到达6个');
            return;
        }
        var html = '<tr>\n' +
            '<td><select class="form-control m-b"\n' +
            ' name="content[tab1][model][' + id + '][social][' + (len) + '][type]">\n' +
            '        <option value=></option>\n' +
            '        <option value="Facebook">Facebook</option>\n' +
            '        <option value="Linkedin">Linkedin</option>\n' +
            '        <option value="Twitter">Twitter</option>\n' +
            '        <option value="Medium">Medium</option>\n' +
            '        <option value="Instagram">Instagram</option>\n' +
            '    </select></td>\n' +
            '    <td><input name="content[tab1][model][' + id + '][social][' + (len) + '][url]"\n' +
            '               class="form-control"\n' +
            '               type="url"></td>\n' +
            '    <td><input name="content[tab1][model][' + id + '][social][' + (len) + '][order]"\n' +
            '               class="form-control"\n' +
            '               type="number"></td>\n' +
            '</tr>';
        tbody.append(html)
    }

    function addModel(id) {
        var page = $('#tab1-model-list');
        var len = page.children().length;
        if (len >= 6) {
            alert('模块已到达6个');
            return;
        }
        var html = '<div class="layui-card">' +
            '<div class="layui-card-header">\n' +
            '        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">\n' +
            '            <legend>模块' + (len + 1) + '</legend>\n' +
            '        </fieldset>\n' +
            '    </div>\n' +
            '    <div class="layui-card-body">\n' +
            '        <div class="form-group">\n' +
            '            <label class="col-sm-1 control-label">人物姓名：</label>\n' +
            '            <div class="col-sm-4">\n' +
            '                <input id="model-' + len + '-name" name="content[tab1][model][' + len + '][name]"\n' +
            '                       class="form-control"\n' +
            '                       type="text"/>\n' +
            '            </div>\n' +
            '            <label class="col-sm-1 control-label">人物简介 ：</label>\n' +
            '            <div class="col-sm-4">\n' +
            '        <textarea id="model-' + len + '-description" name="content[tab1][model][' + len + '][description]"\n' +
            '                  class="form-control"\n' +
            '                  rows="3"></textarea>\n' +
            '            </div>\n' +
            '        </div>\n' +
            '        <div class="form-group">\n' +
            '            <label class="col-sm-1 control-label">人物排序 ：</label>\n' +
            '            <div class="col-sm-4">\n' +
            '                <input id="model-' + len + '-order" name="content[tab1][model][' + len + '][order]"\n' +
            '                       class="form-control"\n' +
            '                       type="number"/>\n' +
            '            </div>\n' +
            '            <label class="col-sm-1 control-label">段落 ：</label>\n' +
            '            <div class="col-sm-6">\n' +
            '        <textarea id="model-' + len + '-content" name="content[tab1][model][' + len + '][content]"\n' +
            '                  class="form-control"\n' +
            '                  rows="5"></textarea>\n' +
            '            </div>\n' +
            '        </div>\n' +
            '<div class="form-group">\n' +
            '    <label class="col-sm-1 control-label">人物肖像：</label>\n' +
            '    <div class="layui-upload col-sm-4">\n' +
            '        <button type="button" class="layui-btn about-upload-btn"\n' +
            '                id="pic-button-' + len + '">上传图片\n' +
            '        </button>\n' +
            '        <button type="button" class="layui-btn about-upload-clear"\n' +
            '                id="pic-clear-' + len + '">清除\n' +
            '        </button>\n' +
            '        <div class="layui-upload-list">\n' +
            '            <img \n' +
            '                 class="layui-upload-img" id="pic-' + len + '">\n' +
            '            <p id="pic-text-' + len + '"></p>\n' +
            '        </div>\n' +
            '    </div>\n' +
            '    <input id="pic-value-' + len + '"\n' +
            '           name="content[tab1][model][' + len + '][pic]"\n' +
            '           class="form-control" type="hidden"/>\n' +
            '    <label class="col-sm-1 control-label">图片：</label>\n' +
            '    <div class="layui-upload col-sm-4">\n' +
            '        <button type="button" class="layui-btn about-upload-btn"\n' +
            '                id="image-button-' + len + '">上传图片\n' +
            '        </button>\n' +
            '        <button type="button" class="layui-btn about-upload-clear"\n' +
            '                id="image-clear-' + len + '">清除\n' +
            '        </button>\n' +
            '        <div class="layui-upload-list">\n' +
            '            <img' +
            '                 class="layui-upload-img"id="image-' + len + '">\n' +
            '            <p id="image-text-' + len + '"></p>\n' +
            '        </div>\n' +
            '    </div>\n' +
            '    <input id="image-value-' + len + '"\n' +
            '           name="content[tab1][model][' + len + '][image]"\n' +
            '           class="form-control" type="hidden"/>\n' +
            '</div>' +
            '        <div class="form-group">\n' +
            '            <div class="col-sm-8 link-table">\n' +
            '                <div class="ibox float-e-margins">\n' +
            '                    <div class="ibox-title">\n' +
            '                        <h5>社交媒体链接添加(每个媒体只能添加一个，重复会被覆盖)</h5>\n' +
            '                    </div>\n' +
            '                    <span id="addLink" class="btn btn-primary"\n' +
            '                          onclick="addLink(' + len + ')">添加</span>\n' +
            '                    <div class="ibox-content">\n' +
            '                        <table class="table">\n' +
            '                            <thead>\n' +
            '                            <tr>\n' +
            '                                <th>社交媒体名称</th>\n' +
            '                                <th>url链接</th>\n' +
            '                                <th>排序</th>\n' +
            '                            </tr>\n' +
            '                            </thead>\n' +
            '                            <tbody id="linktable-' + len + '">\n' +
            '                            </tbody>\n' +
            '                        </table>\n' +
            '                    </div>\n' +
            '                </div>\n' +
            '            </div>\n' +
            '        </div>\n' +
            '    </div>\n' +
            '</div>\n';
        page.append(html);
        layui.use('upload', function () {
            var $ = layui.jquery
                , upload = layui.upload;
            //普通图片上传
            var uploadInst = upload.render({
                elem: '.about-upload-btn'
                , url: '/common/sysFile/upload'
                , before: function (obj) {
                    var id = this.item[0].id;
                    //预读本地文件示例，不支持ie8
                    obj.preview(function (index, file, result) {
                        var type = id.split('-')[0];
                        var count = id.split('-')[2];
                        $('#' + type + '-' + count).attr('src', result); //图片链接（base64）
                    });
                }
                , done: function (res) {
                    //如果上传失败
                    if (res.code > 0) {
                        return layer.msg('上传失败');
                    } else {
                        var id = this.item[0].id;
                        var type = id.split('-')[0];
                        var count = id.split('-')[2];
                        var demoText = $('#' + type + '-text-' + count);
                        demoText.html('<span style="color: #FF5722;">上传成功</span>');
                        $('#' + type + '-value-' + count).val(res.data); //图片链接（base64）
                    }
                    //上传成功
                }
                , error: function () {
                    //演示失败状态，并实现重传
                    var demoText = $('#demoText');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function () {
                        uploadInst.upload();
                    });
                }
            });
        });
    };


    var page = $('#tab2');
    var len = page.children().length + 1;
    for (var i = len; i <= 4; i++) {
        var html = '<div class="layui-card">\n' +
            '    <div class="layui-card-header">\n' +
            '        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">\n' +
            '            <legend>模块' + i + '</legend>\n' +
            '        </fieldset>\n' +
            '    </div>\n' +
            '    <div class="layui-card-body">\n' +
            '        <div class="form-group">\n' +
            '            <label class="col-sm-3 control-label">标题：</label>\n' +
            '            <div class="col-sm-8">\n' +
            '                <input name="content[tab2][model][' + i + '][title]" class="form-control"\n' +
            '                       type="text"/>\n' +
            '            </div>\n' +
            '        </div>\n' +
            '        <div class="form-group">\n' +
            '            <label class="col-sm-3 control-label">段落：</label>\n' +
            '            <div class="col-sm-8">\n' +
            '            <textarea name="content[tab2][model][' + i + '][content]" class="form-control"\n' +
            '                      rows="3"></textarea>\n' +
            '            </div>\n' +
            '        </div>\n' +
            '        <div class="form-group">\n' +
            '            <label class="col-sm-3 control-label">媒体图片：</label>\n' +
            '            <div class="col-sm-8">\n' +
            '                <input name="content[tab2][model][' + i + '][image]" class="form-control"\n' +
            '                       type="text">\n' +
            '            </div>\n' +
            '        </div>\n' +
            '    </div>\n' +
            '</div>';
        page.append(html);
    }
</script>
</body>
</html>
