<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link rel="stylesheet" href="/css/layui.css" media="all">
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <div class="layui-card">
                            <div class="layui-card-header">
                                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                                    <legend>首页设置</legend>
                                </fieldset>
                            </div>
                            <!-- /.box-header -->
                            <div class="layui-card-body">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">主标题：</label>
                                    <div class="col-sm-8">
                                        <input id="main-title" name="indexTitle" class="form-control" type="text"
                                               th:value="${data['indexTitle']}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">副标题：</label>
                                    <div class="col-sm-8">
                                        <input id="sub-title" name="indexSubTitle" class="form-control" type="text"
                                               th:value="${data['indexSubTitle']}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Logo设置：</label>
                                    <!--dom结构部分-->
                                    <div id="logo-img" class="col-sm-8">
                                        <!--用来存放item-->
                                        <div id="img-fileList" class="uploader-list"></div>
                                        <div id="img-filePicker" class="filePicker">选择图片</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">背景视频设置：</label>
                                    <!--dom结构部分-->
                                    <div id="uploader-demo" class="col-sm-8">
                                        <!--用来存放item-->
                                        <div id="video-fileList" class="uploader-list"></div>
                                        <div id="video-filePicker" class="filePicker">选择视频</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-8 link-table">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">
                                                <h5>社交媒体链接添加(每个媒体只能添加一个，重复会被覆盖)</h5>
                                            </div>
                                            <span id="addLink" class="btn btn-primary"
                                                  onclick="addTechtourLink(0)">添加</span>
                                            <div class="ibox-content">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>社交媒体名称</th>
                                                        <th>是否显示</th>
                                                        <th>Logo图</th>
                                                        <th>排序</th>
                                                        <th>url链接</th>
                                                        <th>操作</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody th:if="${data['content']['social']!=null}"
                                                           th:each="social,socialStat:${data['content']['social']}"
                                                           th:id="linktable-0">
                                                    <tr th:id="tr-+${socialStat.index}">
                                                        <td><input
                                                                th:attr="name=content[social][+${socialStat.index}+][name]"
                                                                class="form-control" type="text"
                                                                readonly="readonly"
                                                                th:value="${social.name}"></td>
                                                        <td><input
                                                                th:attr="name=content[social][+${socialStat.index}+][isShow]"
                                                                class="form-control valid" type="text"
                                                                readonly="readonly"
                                                                th:value="${social.isShow}"></td>
                                                        <td><input
                                                                th:attr="name=content[social][+${socialStat.index}+][logo]"
                                                                class="form-control" type="hidden" value=""
                                                                readonly="readonly"
                                                                th:value="${social.logo}">
                                                            <img th:src="${social.logo}">
                                                        </td>
                                                        <td><input
                                                                th:attr="name=content[social][+${socialStat.index}+][order]"
                                                                class="form-control" type="number" value="1"
                                                                readonly="readonly"
                                                                th:value="${social.order}"></td>
                                                        <td><input
                                                                th:attr="name=content[social][+${socialStat.index}+][url]"
                                                                class="form-control" type="text"
                                                                value="http://www.baidu.com" readonly="readonly"
                                                                th:value="${social.url}">
                                                        </td>
                                                        <td style="text-align: center; "><a
                                                                class="btn btn-primary btn-sm "
                                                                title="编辑" onclick="editTechtourLink(this)"><i
                                                                class="fa fa-edit"></i></a> <a
                                                                class="btn btn-warning btn-sm " title="删除"
                                                                onclick="removeLink(this)"><i
                                                                class="fa fa-remove"></i></a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                    <tbody th:if="${data['content']['social']==null}"
                                                           th:id="linktable-0"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- /.box-body -->
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-3">
                                    <button onclick="go()" type="submit" class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
</body>
<script src="/js/plugins/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="/js/plugins/webuploader/webuploader.js"></script>
<script>
    function go() {
        var nav = $('#signupForm').serializeJSON({useIntKeysAsArrayIndex: true});
        var content = JSON.stringify(nav);
        $.ajax({
            cache: true,
            type: "POST",
            url: "/cms/nav/indexpage/save",
            data: content,// 你的formid
            async: false,
            dataType: 'json',
            contentType: 'application/json',
            error: function (request) {
                parent.layer.alert("Connection error");
            },
            success: function (data) {
                if (data.code == 0) {
                    parent.layer.msg("操作成功");
                    window.location.href = "/cms/nav";
                } else {
                    parent.layer.alert(data.msg)
                }
            }
        });
    }

    // 初始化Web Uploader
    var uploader = WebUploader.create({

        // 选完文件后，是否自动上传。
        auto: true,

        // swf文件路径
        swf: '/js/Uploader.swf',

        // 文件接收服务端。
        server: '/common/sysFile/upload',

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '.filePicker'


    });


    // 当有文件添加进来的时候
    uploader.on('fileQueued', function (file) {
        var $li = $(
            '<div id="' + file.id + '" class="file-item">' +
            '<img>' +
            '<div class="info">' + file.name + '</div>' +
            '</div>'
            ),
            $img = $li.find('img');

        let $list = $("#fileList");
        // $list为容器jQuery实例
        $list.html($li);

        // 创建缩略图
        // 如果为非图片文件，可以不用调用此方法。
        // thumbnailWidth x thumbnailHeight 为 100 x 100
        uploader.makeThumb(file, function (error, src) {
            if (error) {
                $img.replaceWith('<span>不能预览</span>');
                return;
            }

            $img.attr('src', src);
        }, 400, 400);
    });

    // 文件上传过程中创建进度条实时显示。
    uploader.on('uploadProgress', function (file, percentage) {
        var $li = $('#' + file.id),
            $percent = $li.find('.progress span');

        // 避免重复创建
        if (!$percent.length) {
            $percent = $('<p class="progress"><span></span></p>')
                .appendTo($li)
                .find('span');
        }

        $percent.css('width', percentage * 100 + '%');
    });

    // 文件上传成功，给item添加成功class, 用样式标记上传成功。
    uploader.on('uploadSuccess', function (file, response) {
        $('#' + file.id).addClass('upload-state-done');
        $('#thumbnail').val(response.data);
    });

    // 文件上传失败，显示上传出错。
    uploader.on('uploadError', function (file) {
        var $li = $('#' + file.id),
            $error = $li.find('div.error');

        // 避免重复创建
        if (!$error.length) {
            $error = $('<div class="error"></div>').appendTo($li);
        }

        $error.text('上传失败');
    });

    // 完成上传完了，成功或者失败，先删除进度条。
    uploader.on('uploadComplete', function (file) {
        $('#' + file.id).find('.progress').remove();
    });

    function addTechtourLink(id) {
        var tbody = $("#linktable-" + id);
        var len = tbody.children('tr').length;
        if (len >= 12) {
            parent.layer.msg("链接已到达12个");
        }
        //iframe层-父子操作
        layer.open({
            type: 2,
            area: ['700px', '450px'],
            fixed: false, //不固定
            maxmin: true,
            content: '/cms/nav/add/7'
        });
    }

    function editTechtourLink(selector) {
        var trSelector = $(selector).parent().parent('tr');
        var trId = trSelector.attr('id');
        var nameSelector = trSelector.find('td:first-child');
        var name = nameSelector.find('input').val();
        var isShow = nameSelector.next().find('input').val();
        var logo = nameSelector.next().next().find('input').val();
        var order = nameSelector.next().next().next().find('input').val();
        var url = nameSelector.next().next().next().next().find('input').val();
        //iframe层-父子操作
        layer.open({
            type: 2,
            area: ['700px', '450px'],
            fixed: false, //不固定
            maxmin: true,
            content: '/cms/nav/add/7',
            success: function (layero, index) {
                var childId = layer.getChildFrame('#id', index);
                childId.val(trId);
                var childName = layer.getChildFrame('#name', index);
                childName.val(name);
                var childShow = layer.getChildFrame('#isShow', index);
                if (isShow == "on") {
                    childShow.prop("checked", true);
                } else {
                    childShow.prop("checked", false);
                }
                var childLogo = layer.getChildFrame('#logo', index);
                childLogo.val(logo);
                var childOrder = layer.getChildFrame('#order', index);
                childOrder.val(order);
                var childUrl = layer.getChildFrame('#url', index);
                childUrl.val(url);
            }
        });
    }

    function removeLink(selector) {
        $(selector).parent().parent('tr').remove();
    }
</script>
</html>
