<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link rel="stylesheet" href="/css/layui.css" media="all">
<link href="/css/plugins/steps/jquery.steps.css" rel="stylesheet">
<link rel="stylesheet" href="/js/plugins/webuploader/webuploader.css" media="all">
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <h3>菜单信息</h3>
                        <fieldset class="ibox-content">
                            <div th:include="allnav :: menu-info"></div>
                        </fieldset>
                        <h3>页面信息</h3>
                        <fieldset class="ibox-content">
                            <div class="layui-card">
                                <div class="layui-card-header">
                                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                                        <legend>标题块</legend>
                                    </fieldset>
                                </div>
                                <!-- /.box-header -->
                                <div class="layui-card-body">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">标题：</label>
                                        <div class="col-sm-8">
                                            <input id="title" name="title" class="form-control" type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">内容：</label>
                                        <div class="col-sm-8">
                                            <textarea id="content" name="content" class="form-control"
                                                      rows="5"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">视频链接：</label>
                                        <div class="col-sm-8">
                                            <input id="video" name="video" class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <div class="layui-card">
                                <div class="layui-card-header">
                                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                                        <legend>模块1</legend>
                                    </fieldset>
                                </div>
                                <!-- /.box-header -->
                                <div class="layui-card-body">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">标题：</label>
                                        <div class="col-sm-8">
                                            <input id="model-1-title" name="content[model1title]" class="form-control"
                                                   type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">内容：</label>
                                        <div class="col-sm-8">
                                        <textarea id="model-1-content" name="content[model1content]"
                                                  class="form-control"
                                                  rows="5"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">视频链接：</label>
                                        <div class="col-sm-8">
                                            <input id="model-1-video" name="content[model1video]" class="form-control"
                                                   type="text">
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <div class="layui-card">
                                <div class="layui-card-header">
                                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                                        <legend>模块2</legend>
                                    </fieldset>
                                </div>
                                <!-- /.box-header -->
                                <div class="layui-card-body">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">标题：</label>
                                        <div class="col-sm-8">
                                            <input id="model-2-title" name="content[model2title]" class="form-control"
                                                   type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">内容：</label>
                                        <div class="col-sm-8">
                                        <textarea id="model-2-content" name="content[model2content]"
                                                  class="form-control"
                                                  rows="5"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">视频链接：</label>
                                        <div class="col-sm-8">
                                            <input id="model-2-video" name="content[model2video]" class="form-control"
                                                   type="text">
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <div class="layui-card">
                                <div class="layui-card-header">
                                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                                        <legend>模块3</legend>
                                    </fieldset>
                                </div>
                                <!-- /.box-header -->
                                <div class="layui-card-body">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">标题：</label>
                                        <div class="col-sm-8">
                                            <input id="model-3-title" name="content[model3title]" class="form-control"
                                                   type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">内容：</label>
                                        <div class="col-sm-8">
                                        <textarea id="model-3-content" name="content[model3content]"
                                                  class="form-control"
                                                  rows="5"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">视频链接：</label>
                                        <div class="col-sm-8">
                                            <input id="model-3-video" name="content[model3video]" class="form-control"
                                                   type="text">
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <div class="layui-card">
                                <div class="layui-card-header">
                                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                                        <legend>社交媒体外链设置</legend>
                                    </fieldset>
                                </div>
                                <!-- /.box-header -->
                                <div class="layui-card-body">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">标题：</label>
                                        <div class="col-sm-8">
                                            <input id="model-4-title" name="content[model4title]" class="form-control"
                                                   type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-8 link-table">
                                            <div class="ibox float-e-margins">
                                                <div class="ibox-title">
                                                    <h5>社交媒体链接添加(每个媒体只能添加一个，重复会被覆盖)</h5>
                                                </div>
                                                <span id="addLink" class="btn btn-primary"
                                                      onclick="addTechtourLink(0)">添加</span>
                                                <div class="ibox-content">
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th>社交媒体名称</th>
                                                            <th>url链接</th>
                                                            <th>排序</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody id="linktable-0">
                                                        <tr>
                                                            <td><select class="form-control m-b"
                                                                        name="content[social][0][type]">
                                                                <option value=></option>
                                                                <option value="Fackbook">Fackbook</option>
                                                                <option value="Linkedin">Linkedin</option>
                                                                <option value="Twitter">Twitter</option>
                                                                <option value="Medium">Medium</option>
                                                                <option value="Instagram">Instagram</option>
                                                            </select></td>
                                                            <td><input name="content[social][0][url]"
                                                                       class="form-control"
                                                                       type="url"></td>
                                                            <td><input name="content[social][0][order]"
                                                                       class="form-control"
                                                                       type="number"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <h3>SEO信息</h3>
                        <fieldset id="seo-info" class="ibox-content">
                            <div th:include="allnav :: seo-info"></div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script src="/js/plugins/staps/jquery.steps.min.js"></script>
<script src="/js/plugins/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="/js/plugins/webuploader/webuploader.js"></script>
<script type="text/javascript" src="/js/appjs/cms/nav/showLink.js"></script>
<script type="text/javascript" src="/js/appjs/cms/nav/nav-edit.js"></script>

</body>
</html>
