<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link rel="stylesheet" href="/css/layui.css" media="all">
<link href="/css/plugins/steps/jquery.steps.css" rel="stylesheet">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <h3>菜单信息</h3>
                        <fieldset id="menu-info" class="ibox-content">
                            <div th:include="allnav :: menu-info"></div>
                        </fieldset>
                        <h3>页面信息</h3>
                        <fieldset id="page-info" class="ibox-content">
                            <div class="layui-card">
                                <div class="layui-card-header">
                                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                                        <legend>标题块</legend>
                                    </fieldset>
                                </div>
                                <!-- /.box-header -->
                                <div class="layui-card-body">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">标题：</label>
                                        <div class="col-sm-8">
                                            <input id="title" name="content[title]" class="form-control" type="text"
                                                   th:value="${nav['content']['title']}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">内容：</label>
                                        <div class="col-sm-8">
                                            <textarea id="content" name="content[content]" class="form-control"
                                                      rows="5" th:text="${nav['content']['content']}"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">视频链接1：</label>
                                        <div class="col-sm-8">
                                            <input id="video1" name="content[video1]" class="form-control" type="text"
                                                   th:value="${nav['content']['video1']}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">视频链接2：</label>
                                        <div class="col-sm-8">
                                            <input id="video2" name="content[video2]" class="form-control" type="text"
                                                   th:value="${nav['content']['video2']}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">视频链接3：</label>
                                        <div class="col-sm-8">
                                            <input id="video3" name="content[video3]" class="form-control" type="text"
                                                   th:value="${nav['content']['video3']}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">视频链接4：</label>
                                        <div class="col-sm-8">
                                            <input id="video4" name="content[video4]" class="form-control" type="text"
                                                   th:value="${nav['content']['video4']}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">视频链接5：</label>
                                        <div class="col-sm-8">
                                            <input id="video5" name="content[video5]" class="form-control" type="text"
                                                   th:value="${nav['content']['video5']}"/>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <div id="model-list">
                                <div th:each="model,modelStat:${nav['content']['model']}"
                                     th:id="mode+${modelStat.count}" class="layui-card">
                                    <div class="layui-card-header">
                                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                                            <legend th:text="模块+${modelStat.count}"></legend>
                                        </fieldset>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="layui-card-body">
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">人物姓名：</label>
                                            <div class="col-sm-4">
                                                <input th:attr="name=content[model][+${modelStat.index}+][name]"
                                                       class="form-control"
                                                       type="text" th:value="${model['name']}"/>
                                            </div>
                                            <label class="col-sm-1 control-label">人物简介 ：</label>
                                            <div class="col-sm-4">
                                        <textarea th:attr="name=content[model][+${modelStat.index}+][description]"
                                                  class="form-control"
                                                  rows="3" th:text="${model['description']}"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">内容：</label>
                                            <div class="col-sm-4">
                                        <textarea th:attr="name=content[model][+${modelStat.index}+][content]"
                                                  class="form-control"
                                                  rows="5" th:text="${model['content']}"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">人物肖像：</label>
                                            <div class="col-sm-8 layui-upload">
                                                <button type="button" class="layui-btn about-upload-btn"
                                                        th:id="image-button-+${modelStat.index}">上传图片
                                                </button>
                                                <button type="button" th:id="image-album-+${modelStat.index}"
                                                        class="layui-btn btn-primary nav-album">从相册选择
                                                </button>
                                                <button type="button" class="layui-btn about-upload-clear"
                                                        th:id="image-clear-+${modelStat.index}">清除
                                                </button>
                                                <div class="layui-upload-list">
                                                    <img th:if="${model['pic']!=null && model['pic'] ne ''}"
                                                         th:src="${model['pic']}" class="layui-upload-img"
                                                         th:id="image-+${modelStat.index}">
                                                    <img th:if="${model['pic']==null || model['pic'] eq ''}"
                                                         class="layui-upload-img" th:id="image-+${modelStat.index}">
                                                    <p th:id="image-text-+${modelStat.index}"></p>
                                                </div>
                                                <input th:id="image-value-+${modelStat.index}"
                                                       th:attr="name=content[model][+${modelStat.index}+][pic]"
                                                       class="form-control"
                                                       type="hidden" th:value="${model['pic']}">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                            </div>
                            <div id="addModel" class="ibox-title" style="height: 20px;cursor: pointer;font-size: 24px">
                                <i class="fa fa-plus-square-o col-sm-6 control-label" onclick="addModel()">新增模块</i>
                            </div>
                        </fieldset>
                        <h3>SEO信息</h3>
                        <fieldset id="seo-info" class="ibox-content">
                            <div th:include="allnav :: seo-info"></div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script src="/js/plugins/staps/jquery.steps.min.js"></script>
<script src="/js/plugins/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="/js/plugins/webuploader/webuploader.js"></script>
<script type="text/javascript" src="/js/appjs/cms/nav/showLink.js"></script>
<script type="text/javascript" src="/js/appjs/cms/nav/nav-edit.js"></script>
<script>
    function addModel(id) {
        var page = $('#model-list');
        var len = page.children().length;
        if (len >= 6) {
            alert('模块已到达6个');
            return;
        }
        var html = '<div class="layui-card">' +
            '<div class="layui-card-header">\n' +
            '        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">\n' +
            '            <legend>模块' + (len + 1) + '</legend>\n' +
            '        </fieldset>\n' +
            '    </div>\n' +
            '<div class="layui-card-body">\n' +
            '    <div class="form-group">\n' +
            '        <label class="col-sm-1 control-label">人物姓名：</label>\n' +
            '        <div class="col-sm-4">\n' +
            '            <input name="content[model][' + len + '][name]"\n' +
            '                   class="form-control"\n' +
            '                   type="text"/>\n' +
            '        </div>\n' +
            '        <label class="col-sm-1 control-label">人物简介 ：</label>\n' +
            '        <div class="col-sm-4">\n' +
            '        <textarea name="content[model][' + len + '][description]"\n' +
            '                  class="form-control"\n' +
            '                  rows="3"></textarea>\n' +
            '        </div>\n' +
            '    </div>\n' +
            '    <div class="form-group">\n' +
            '        <label class="col-sm-1 control-label">内容：</label>\n' +
            '        <div class="col-sm-4">\n' +
            '        <textarea name="content[model][' + len + '][content]"\n' +
            '                  class="form-control"\n' +
            '                  rows="5"></textarea>\n' +
            '        </div>\n' +
            '    </div>\n' +
            '<div class="form-group">\n' +
            '    <label class="col-sm-3 control-label">人物肖像：</label>\n' +
            '    <div class="col-sm-8 layui-upload">\n' +
            '        <button type="button" class="layui-btn about-upload-btn"\n' +
            '                id="image-button-' + len + '">上传图片\n' +
            '        </button>\n' +
            '        <button type="button" id="image-album-' + len + '" class="layui-btn btn-primary nav-album">从相册选择\n' +
            '        </button>\n' +
            '        <button type="button" class="layui-btn about-upload-clear"\n' +
            '                id="image-clear-' + len + '">清除\n' +
            '        </button>\n' +
            '        <div class="layui-upload-list">\n' +
            '            <img' +
            '                 class="layui-upload-img" id="image-' + len + '">\n' +
            '            <p id="image-text-' + len + '"></p>\n' +
            '        </div>\n' +
            '        <input id="image-value-' + len + '"\n' +
            '               name="content[model][' + len + '][pic]"\n' +
            '               class="form-control"\n' +
            '               type="hidden">\n' +
            '</div>' +
            '</div>' +
            '</div>\n';
        page.append(html);
    }
</script>
</body>
</html>
