<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link rel="stylesheet" href="/css/layui.css" media="all">
<link href="/css/plugins/steps/jquery.steps.css" rel="stylesheet">
<link rel="stylesheet" href="/js/plugins/webuploader/webuploader.css" media="all">
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <h3>菜单信息</h3>
                        <fieldset id="menu-info" class="ibox-content">
                            <div th:include="allnav :: menu-info"></div>
                        </fieldset>
                        <h3>页面信息</h3>
                        <fieldset id="page-info" class="ibox-content">
                            <div class="layui-card">
                                <div class="layui-card-header">
                                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                                        <legend>标题块</legend>
                                    </fieldset>
                                </div>
                                <!-- /.box-header -->
                                <div class="layui-card-body">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">标题：</label>
                                        <div class="col-sm-8">
                                            <input id="title" name="content[title]" class="form-control" type="text"
                                                   required="" th:value="${nav['content']['title']}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">内容：</label>
                                        <div class="col-sm-8">
                                            <textarea id="content" name="content[content]" class="form-control"
                                                      rows="5" th:text="${nav['content']['content']}"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">视频链接1：</label>
                                        <div class="col-sm-8">
                                            <input id="video1" name="content[video1]" class="form-control" type="url"
                                                   th:value="${nav['content']['video1']}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">视频链接2：</label>
                                        <div class="col-sm-8">
                                            <input id="video2" name="content[video2]" class="form-control" type="url"
                                                   th:value="${nav['content']['video2']}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">视频链接3：</label>
                                        <div class="col-sm-8">
                                            <input id="video3" name="content[video3]" class="form-control" type="url"
                                                   th:value="${nav['content']['video3']}">
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <div th:each="model,modelStat : ${nav['content']['model']}" class="layui-card">
                                <div class="layui-card-header">
                                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                                        <legend th:text="模块+${modelStat.count}">模块1</legend>
                                    </fieldset>
                                </div>
                                <!-- /.box-header -->
                                <div class="layui-card-body">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">标题：</label>
                                        <div class="col-sm-8">
                                            <input th:attr="name=content[model][+${modelStat.index}+][title]"
                                                   class="form-control"
                                                   type="text" th:value="${model['title']}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">内容：</label>
                                        <div class="col-sm-8">
                                        <textarea th:attr="name=content[model][+${modelStat.index}+][content]"
                                                  class="form-control"
                                                  rows="5" th:text="${model['content']}"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">图片链接：</label>
                                        <div class="col-sm-8">
                                            <input th:attr="name=content[model][+${modelStat.index}+][image]"
                                                   class="form-control"
                                                   type="text" th:value="${model['image']}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">是否显示：</label>
                                        <div class="switch col-sm-8">
                                            <div class="onoffswitch">
                                                <input type="checkbox" checked="" class="onoffswitch-checkbox"
                                                       th:id="content[model][+${modelStat.index}+][isShow]"
                                                       th:attr="name=content[model][+${modelStat.index}+][isShow]"
                                                       th:value="${model['isShow']}">
                                                <label class="onoffswitch-label"
                                                       th:attr="for=content[model][+${modelStat.index}+][isShow]">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </fieldset>
                        <h3>SEO信息</h3>
                        <fieldset id="seo-info" class="ibox-content">
                            <div th:include="allnav :: seo-info"></div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script src="/js/plugins/staps/jquery.steps.min.js"></script>
<script src="/js/plugins/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="/js/plugins/webuploader/webuploader.js"></script>
<script type="text/javascript" src="/js/appjs/cms/nav/showLink.js"></script>
<script type="text/javascript" src="/js/appjs/cms/nav/nav-edit.js"></script>
<script>
    var page = $('#signupForm-p-1');
    var len = page.children().length;
    for (var i = len; i <= 5; i++) {
        var html = '<div class="layui-card">\n' +
            '    <div class="layui-card-header">\n' +
            '        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">\n' +
            '            <legend>模块' + (i + 1) + '</legend>\n' +
            '        </fieldset>\n' +
            '    </div>\n' +
            '    <div class="layui-card-body">\n' +
            '        <div class="form-group">\n' +
            '            <label class="col-sm-3 control-label">标题：</label>\n' +
            '            <div class="col-sm-8">\n' +
            '            <input name="content[model][' + i + '][title]" class="form-control"\n' +
            '                      type="text"/>\n' +
            '            </div>\n' +
            '        </div>\n' +
            '        <div class="form-group">\n' +
            '            <label class="col-sm-3 control-label">内容：</label>\n' +
            '            <div class="col-sm-8">\n' +
            '            <textarea name="content[model][' + i + '][content]"\n' +
            '                      class="form-control"\n' +
            '                      rows="5"></textarea>\n' +
            '            </div>\n' +
            '        </div>\n' +
            '        <div class="form-group">\n' +
            '            <label class="col-sm-3 control-label">图片链接：</label>\n' +
            '            <div class="col-sm-8">\n' +
            '                <input name="content[model][' + i + '][image]" class="form-control"\n' +
            '                       type="text">\n' +
            '            </div>\n' +
            '        </div>\n' +
            '        <div class="form-group">\n' +
            '            <label class="col-sm-3 control-label">是否显示：</label>\n' +
            '            <div class="switch col-sm-8">\n' +
            '                <div class="onoffswitch">\n' +
            '                    <input type="checkbox" checked="" class="onoffswitch-checkbox"\n' +
            '                           name="content[model][' + i + '][isShow]">\n' +
            '                    <label class="onoffswitch-label" for="content[model][' + i + '][isShow]">\n' +
            '                        <span class="onoffswitch-inner"></span>\n' +
            '                        <span class="onoffswitch-switch"></span>\n' +
            '                    </label>\n' +
            '                </div>\n' +
            '            </div>\n' +
            '        </div>\n' +
            '    </div>\n' +
            '</div>';
        page.append(html);
    }
</script>
</body>
</html>
