<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link rel="stylesheet" href="/css/layui.css" media="all">
<link href="/css/plugins/steps/jquery.steps.css" rel="stylesheet">
<link rel="stylesheet" href="/js/plugins/webuploader/webuploader.css" media="all">
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <h3>菜单信息</h3>
                        <fieldset id="menu-info" class="ibox-content">
                            <div th:include="allnav :: menu-info"></div>
                        </fieldset>
                        <h3>页面信息</h3>
                        <fieldset id="page-info" class="ibox-content">
                            <div class="layui-card">
                                <div class="layui-card-header">
                                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                                        <legend>标题块</legend>
                                    </fieldset>
                                </div>
                                <!-- /.box-header -->
                                <div class="layui-card-body">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">标题：</label>
                                        <div class="col-sm-8">
                                            <textarea id="title" name="title" class="form-control" rows="5"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">内容：</label>
                                        <div class="col-sm-8">
                                            <textarea id="content" name="content" class="form-control"
                                                      rows="5"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">视频链接1：</label>
                                        <div class="col-sm-8">
                                            <input id="video1" name="video1" class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">视频链接2：</label>
                                        <div class="col-sm-8">
                                            <input id="video2" name="video2" class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">视频链接3：</label>
                                        <div class="col-sm-8">
                                            <input id="video3" name="video3" class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <div class="layui-card">
                                <div class="layui-card-header">
                                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                                        <legend>模块1</legend>
                                    </fieldset>
                                </div>
                                <!-- /.box-header -->
                                <div class="layui-card-body">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">标题：</label>
                                        <div class="col-sm-8">
                                        <textarea id="model-1-title" name="content[model1title]" class="form-control"
                                                  rows="5"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">内容：</label>
                                        <div class="col-sm-8">
                                        <textarea id="model-1-content" name="content[model1content]" class="form-control"
                                                  rows="5"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">图片链接：</label>
                                        <div class="col-sm-8">
                                            <input id="model-1-image" name="content[model1image]" class="form-control"
                                                   type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">是否显示：</label>
                                        <div class="switch col-sm-8">
                                            <div class="onoffswitch">
                                                <input type="checkbox" checked="" class="onoffswitch-checkbox"
                                                       id="content[model1isShow]"
                                                       name="content[model1isShow]">
                                                <label class="onoffswitch-label" for="content[model1isShow]">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <div class="layui-card">
                                <div class="layui-card-header">
                                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                                        <legend>模块2</legend>
                                    </fieldset>
                                </div>
                                <!-- /.box-header -->
                                <div class="layui-card-body">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">标题：</label>
                                        <div class="col-sm-8">
                                        <textarea id="model-2-title" name="content[model2title]" class="form-control"
                                                  rows="5"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">内容：</label>
                                        <div class="col-sm-8">
                                        <textarea id="model-2-content" name="content[model2content]" class="form-control"
                                                  rows="5"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">图片链接：</label>
                                        <div class="col-sm-8">
                                            <input id="model-2-image" name="content[model2image]" class="form-control"
                                                   type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">是否显示：</label>
                                        <div class="switch col-sm-8">
                                            <div class="onoffswitch">
                                                <input type="checkbox" checked="" class="onoffswitch-checkbox"
                                                       id="content[model2isShow]"
                                                       name="content[model2isShow]">
                                                <label class="onoffswitch-label" for="content[model2isShow]">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <div class="layui-card">
                                <div class="layui-card-header">
                                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                                        <legend>模块3</legend>
                                    </fieldset>
                                </div>
                                <!-- /.box-header -->
                                <div class="layui-card-body">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">标题：</label>
                                        <div class="col-sm-8">
                                        <textarea id="model-3-title" name="content[model3title]" class="form-control"
                                                  rows="5"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">内容：</label>
                                        <div class="col-sm-8">
                                        <textarea id="model-3-content" name="content[model3content]" class="form-control"
                                                  rows="5"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">视频链接：</label>
                                        <div class="col-sm-8">
                                            <input id="model-3-image" name="content[model3image]" class="form-control"
                                                   type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">是否显示：</label>
                                        <div class="switch col-sm-8">
                                            <div class="onoffswitch">
                                                <input type="checkbox" checked="" class="onoffswitch-checkbox"
                                                       id="content[model3isShow]"
                                                       name="content[model3isShow]">
                                                <label class="onoffswitch-label" for="content[model3isShow]">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <div class="layui-card">
                                <div class="layui-card-header">
                                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                                        <legend>模块4</legend>
                                    </fieldset>
                                </div>
                                <!-- /.box-header -->
                                <div class="layui-card-body">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">标题：</label>
                                        <div class="col-sm-8">
                                        <textarea id="model-4-title" name="content[model4title]" class="form-control"
                                                  rows="5"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">内容：</label>
                                        <div class="col-sm-8">
                                        <textarea id="model-4-content" name="content[model4content]" class="form-control"
                                                  rows="5"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">视频链接：</label>
                                        <div class="col-sm-8">
                                            <input id="model-4-image" name="content[model4image]" class="form-control"
                                                   type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">是否显示：</label>
                                        <div class="switch col-sm-8">
                                            <div class="onoffswitch">
                                                <input type="checkbox" checked="" class="onoffswitch-checkbox"
                                                       id="content[model4isShow]"
                                                       name="content[model4isShow]">
                                                <label class="onoffswitch-label" for="content[model4isShow]">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <div class="layui-card">
                                <div class="layui-card-header">
                                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                                        <legend>模块5</legend>
                                    </fieldset>
                                </div>
                                <!-- /.box-header -->
                                <div class="layui-card-body">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">标题：</label>
                                        <div class="col-sm-8">
                                        <textarea id="model-5-title" name="content[model5title]" class="form-control"
                                                  rows="5"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">内容：</label>
                                        <div class="col-sm-8">
                                        <textarea id="model-5-content" name="content[model5content]" class="form-control"
                                                  rows="5"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">视频链接：</label>
                                        <div class="col-sm-8">
                                            <input id="model-5-image" name="content[model5image]" class="form-control"
                                                   type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">是否显示：</label>
                                        <div class="switch col-sm-8">
                                            <div class="onoffswitch">
                                                <input type="checkbox" checked="" class="onoffswitch-checkbox"
                                                       id="content[model5isShow]"
                                                       name="content[model5isShow]">
                                                <label class="onoffswitch-label" for="content[model5isShow]">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </fieldset>
                        <h3>SEO信息</h3>
                        <fieldset id="seo-info" class="ibox-content">
                            <div th:include="allnav :: seo-info"></div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script src="/js/plugins/staps/jquery.steps.min.js"></script>
<script src="/js/plugins/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="/js/plugins/webuploader/webuploader.js"></script>
<script type="text/javascript" src="/js/appjs/cms/nav/showLink.js"></script>
<script type="text/javascript" src="/js/appjs/cms/nav/nav-edit.js"></script>
<script>

</script>
</body>
</html>
