<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link href="/css/plugins/steps/jquery.steps.css" rel="stylesheet">
<link rel="stylesheet" href="/js/plugins/webuploader/webuploader.css" media="all">
<link rel="stylesheet" type="text/css" href="/css/plugins/simditor/simditor.css"/>
<script type="text/javascript" src="/js/plugins/simditor/module.min.js"></script>
<script type="text/javascript" src="/js/plugins/simditor/hotkeys.min.js"></script>
<script type="text/javascript" src="/js/plugins/simditor/uploader.min.js"></script>
<script type="text/javascript" src="/js/plugins/simditor/simditor.js"></script>
<style>
    .link-table {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form id="article-form" class="form-horizontal m-t" action="#">
                        <h3>基本信息</h3>
                        <fieldset class="ibox-content">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">标题：</label>
                                <div class="col-sm-8">
                                    <input id="title" name="title" class="form-control"
                                           type="text" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">摘要：</label>
                                <div class="col-sm-8">
                                <textarea id="summary" name="summary" class="form-control"
                                          rows="5" required="required"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">作者：</label>
                                <div class="col-sm-8">
                                    <input id="author" name="author" class="form-control"
                                           type="text" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">文章来源地址：</label>
                                <div class="col-sm-8">
                                    <input id="linkTo" name="linkTo" class="form-control"
                                           type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">封面类型：</label>
                                <div class="col-sm-8">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" value="1" id="optionsRadios1"
                                                   name="style">大图封面</label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" value="2" id="optionsRadios2"
                                                   name="style">小图封面</label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" value="3" id="optionsRadios3"
                                                   name="style">底图封面</label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" checked="" value="4" id="optionsRadios4"
                                                   name="style">默认状态</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">封面图：</label>
                                <!--dom结构部分-->
                                <div id="uploader-demo" class="col-sm-8">
                                    <!--用来存放item-->
                                    <div id="fileList" class="uploader-list"></div>
                                    <div id="filePicker">选择图片</div>
                                    <input id="thumbnail" name="thumbnail" class="form-control"
                                           type="hidden">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-8 link-table">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>社交媒体链接添加(每个媒体只能添加一个，重复会被覆盖)</h5>
                                            <div class="ibox-tools">

                                            </div>
                                        </div>
                                        <div class="ibox-content">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>社交媒体名称</th>
                                                    <th>url链接</th>
                                                    <th>置顶</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td><select class="form-control m-b" name="social[0][type]">
                                                        <option value=></option>
                                                        <option value="Facebook">Facebook</option>
                                                        <option value="Linkedin">Linkedin</option>
                                                        <option value="Twitter">Twitter</option>
                                                        <option value="Medium">Medium</option>
                                                        <option value="Instagram">Instagram</option>
                                                    </select></td>
                                                    <td><input name="social[0][url]" class="form-control"
                                                               type="url"></td>
                                                    <td><input name="social[0][isTop]"
                                                               class="social-checkbox"
                                                               type="checkbox" value="yes">置顶
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><select class="form-control m-b" name="social[1][type]">
                                                        <option value=></option>
                                                        <option value="Facebook">Facebook</option>
                                                        <option value="Linkedin">Linkedin</option>
                                                        <option value="Twitter">Twitter</option>
                                                        <option value="Medium">Medium</option>
                                                        <option value="Instagram">Instagram</option>
                                                    </select></td>
                                                    <td><input name="social[1][url]" class="form-control"
                                                               type="url"></td>
                                                    <td><input name="social[1][isTop]"
                                                               class="social-checkbox"
                                                               type="checkbox" value="yes">置顶
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><select class="form-control m-b" name="social[2][type]">
                                                        <option value=></option>
                                                        <option value="Facebook">Facebook</option>
                                                        <option value="Linkedin">Linkedin</option>
                                                        <option value="Twitter">Twitter</option>
                                                        <option value="Medium">Medium</option>
                                                        <option value="Instagram">Instagram</option>
                                                    </select></td>
                                                    <td><input name="social[2][url]" class="form-control"
                                                               type="url"></td>
                                                    <td><input name="social[2][isTop]"
                                                               class="social-checkbox"
                                                               type="checkbox" value="yes">置顶
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><select class="form-control m-b" name="social[3][type]">
                                                        <option value=></option>
                                                        <option value="Facebook">Facebook</option>
                                                        <option value="Linkedin">Linkedin</option>
                                                        <option value="Twitter">Twitter</option>
                                                        <option value="Medium">Medium</option>
                                                        <option value="Instagram">Instagram</option>
                                                    </select></td>
                                                    <td><input name="social[3][url]" class="form-control"
                                                               type="url"></td>
                                                    <td><input name="social[3][isTop]"
                                                               class="social-checkbox"
                                                               type="checkbox" value="yes">置顶
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><select class="form-control m-b" name="social[4][type]">
                                                        <option value=></option>
                                                        <option value="Facebook">Facebook</option>
                                                        <option value="Linkedin">Linkedin</option>
                                                        <option value="Twitter">Twitter</option>
                                                        <option value="Medium">Medium</option>
                                                        <option value="Instagram">Instagram</option>
                                                    </select></td>
                                                    <td><input name="social[4][url]" class="form-control"
                                                               type="url"></td>
                                                    <td><input name="social[4][isTop]"
                                                               class="social-checkbox"
                                                               type="checkbox" value="yes">置顶
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">标签1：</label>
                                <div class="col-sm-8">
                                    <input name="tag[0]" class="form-control"
                                           type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">标签2：</label>
                                <div class="col-sm-8">
                                    <input name="tag[1]" class="form-control"
                                           type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">标签3：</label>
                                <div class="col-sm-8">
                                    <input name="tag[2]" class="form-control"
                                           type="text">
                                </div>
                            </div>
                        </fieldset>
                        <h3>正文内容</h3>
                        <fieldset>
                            <div id="content">
                                <textarea id="editor" name="content" required="required">
                                        Balala...
                                </textarea>
                            </div>
                        </fieldset>
                        <h3>SEO设置</h3>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">SEO栏目标题：</label>
                                <div class="col-sm-8">
                                        <textarea id="metaTitle" name="metaTitle" class="form-control"
                                                  rows="5"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">SEO栏目关键字：</label>
                                <div class="col-sm-8">
                                        <textarea id="metaKeywords" name="metaKeywords" class="form-control"
                                                  rows="5"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">SEO栏目简介：</label>
                                <div class="col-sm-8">
                                    <input id="metaDescription" name="metaDescription" class="form-control"
                                           type="text">
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script src="/js/plugins/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="/js/plugins/webuploader/webuploader.js"></script>
<script src="/js/plugins/staps/jquery.steps.min.js"></script>
<script type="text/javascript" src="/js/appjs/cms/article/add.js"></script>


</body>
</html>
