<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link href="/css/plugins/steps/jquery.steps.css" rel="stylesheet">
<link rel="stylesheet" href="/js/plugins/webuploader/webuploader.css" media="all">
<link rel="stylesheet" type="text/css" href="/css/plugins/simditor/simditor.css"/>
<style>

    .link-table {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form id="article-form" class="form-horizontal m-t" action="#">
                        <h3>基本信息</h3>
                        <fieldset class="ibox-content">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">标题：</label>
                                <div class="col-sm-8">
                                    <input id="title" name="title" class="form-control"
                                           type="text" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">摘要：</label>
                                <div class="col-sm-8">
                                <textarea id="summary" name="summary" class="form-control"
                                          rows="5" required="required"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">作者：</label>
                                <div class="col-sm-8">
                                    <input id="author" name="author" class="form-control"
                                           type="text" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">文章来源地址：</label>
                                <div class="col-sm-8">
                                    <input id="linkTo" name="linkTo" class="form-control"
                                           type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">封面类型：</label>
                                <div class="col-sm-8">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" value="1" id="optionsRadios1"
                                                   name="style">大图封面</label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" value="2" id="optionsRadios2"
                                                   name="style">小图封面</label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" value="3" id="optionsRadios3"
                                                   name="style">底图封面</label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" checked="" value="4" id="optionsRadios4"
                                                   name="style">默认状态</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">封面图：</label>
                                <!--dom结构部分-->
                                <div id="uploader-demo" class="col-sm-8">
                                    <!--用来存放item-->
                                    <div id="fileList" class="uploader-list"></div>
                                    <div id="filePicker">选择图片</div>
                                    <input id="thumbnail" name="thumbnail" class="form-control"
                                           type="hidden">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-8 link-table">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>社交媒体链接添加(每个媒体只能添加一个，重复会被覆盖)</h5>
                                            <div class="ibox-tools">

                                            </div>
                                        </div>
                                        <div class="ibox-content">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>社交媒体名称</th>
                                                    <th>url链接</th>
                                                    <th>排序</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td><select class="form-control m-b" name="social[0][type]">
                                                        <option value=></option>
                                                        <option value="Facebook">Facebook</option>
                                                        <option value="Linkedin">Linkedin</option>
                                                        <option value="Twitter">Twitter</option>
                                                        <option value="Medium">Medium</option>
                                                        <option value="Instagram">Instagram</option>
                                                    </select></td>
                                                    <td><input name="social[0][url]" class="form-control"
                                                               type="url"></td>
                                                    <td><input name="social[0][order]"
                                                               class="form-control"
                                                               type="number"></td>
                                                </tr>
                                                <tr>
                                                    <td><select class="form-control m-b" name="social[1][type]">
                                                        <option value=></option>
                                                        <option value="Facebook">Facebook</option>
                                                        <option value="Linkedin">Linkedin</option>
                                                        <option value="Twitter">Twitter</option>
                                                        <option value="Medium">Medium</option>
                                                        <option value="Instagram">Instagram</option>
                                                    </select></td>
                                                    <td><input name="social[1][url]" class="form-control"
                                                               type="url"></td>
                                                    <td><input name="social[1][order]"
                                                               class="form-control"
                                                               type="number"></td>
                                                </tr>
                                                <tr>
                                                    <td><select class="form-control m-b" name="social[2][type]">
                                                        <option value=></option>
                                                        <option value="Facebook">Facebook</option>
                                                        <option value="Linkedin">Linkedin</option>
                                                        <option value="Twitter">Twitter</option>
                                                        <option value="Medium">Medium</option>
                                                        <option value="Instagram">Instagram</option>
                                                    </select></td>
                                                    <td><input name="social[2][url]" class="form-control"
                                                               type="url"></td>
                                                    <td><input name="social[2][order]"
                                                               class="form-control"
                                                               type="number"></td>
                                                </tr>
                                                <tr>
                                                    <td><select class="form-control m-b" name="social[3][type]">
                                                        <option value=></option>
                                                        <option value="Facebook">Facebook</option>
                                                        <option value="Linkedin">Linkedin</option>
                                                        <option value="Twitter">Twitter</option>
                                                        <option value="Medium">Medium</option>
                                                        <option value="Instagram">Instagram</option>
                                                    </select></td>
                                                    <td><input name="social[3][url]" class="form-control"
                                                               type="url"></td>
                                                    <td><input name="social[3][order]"
                                                               class="form-control"
                                                               type="number"></td>
                                                </tr>
                                                <tr>
                                                    <td><select class="form-control m-b" name="social[4][type]">
                                                        <option value=></option>
                                                        <option value="Facebook">Facebook</option>
                                                        <option value="Linkedin">Linkedin</option>
                                                        <option value="Twitter">Twitter</option>
                                                        <option value="Medium">Medium</option>
                                                        <option value="Instagram">Instagram</option>
                                                    </select></td>
                                                    <td><input name="social[4][url]" class="form-control"
                                                               type="url"></td>
                                                    <td><input name="social[4][order]"
                                                               class="form-control"
                                                               type="number"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">标签1：</label>
                                <div class="col-sm-8">
                                    <input name="tag[0]" class="form-control"
                                           type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">标签2：</label>
                                <div class="col-sm-8">
                                    <input name="tag[1]" class="form-control"
                                           type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">标签3：</label>
                                <div class="col-sm-8">
                                    <input name="tag[2]" class="form-control"
                                           type="text">
                                </div>
                            </div>
                        </fieldset>
                        <h3>正文内容</h3>
                        <fieldset>
                            <div id="content">
                                <textarea id="editor" name="content" required="required">
                                        Balala...
                                </textarea>
                            </div>
                        </fieldset>
                        <h3>SEO设置</h3>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">SEO栏目标题：</label>
                                <div class="col-sm-8">
                                        <textarea id="metaTitle" name="metaTitle" class="form-control"
                                                  rows="5"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">SEO栏目关键字：</label>
                                <div class="col-sm-8">
                                        <textarea id="metaKeywords" name="metaKeywords" class="form-control"
                                                  rows="5"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">SEO栏目简介：</label>
                                <div class="col-sm-8">
                                    <input id="metaDescription" name="metaDescription" class="form-control"
                                           type="text">
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script src="/js/plugins/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="/js/appjs/cms/article/add.js">
</script>
<script type="text/javascript" src="/js/plugins/simditor/module.min.js"></script>
<script type="text/javascript" src="/js/plugins/simditor/hotkeys.min.js"></script>
<script type="text/javascript" src="/js/plugins/simditor/uploader.min.js"></script>
<script type="text/javascript" src="/js/plugins/simditor/simditor.js"></script>
<script type="text/javascript" src="/js/plugins/webuploader/webuploader.js"></script>

<script src="/js/plugins/staps/jquery.steps.min.js"></script>
<script>
    var form = $("#article-form").show();
    form.steps({
        headerTag: "h3",
        bodyTag: "fieldset",
        transitionEffect: "slideLeft",
        onStepChanging: function (event, currentIndex, newIndex) {
            // Allways allow previous action even if the current form is not valid!
            if (currentIndex > newIndex) {
                return true;
            }
            // Forbid next action on "Warning" step if the user is to young
            if (newIndex === 3 && Number($("#age-2").val()) < 18) {
                return false;
            }
            // Needed in some cases if the user went back (clean up)
            if (currentIndex < newIndex) {
                // To remove error styles
                form.find(".body:eq(" + newIndex + ") label.error").remove();
                form.find(".body:eq(" + newIndex + ") .error").removeClass("error");
            }
            form.validate().settings.ignore = ":disabled,:hidden";
            return form.valid();
        },
        onStepChanged: function (event, currentIndex, priorIndex) {
            // Used to skip the "Warning" step if the user is old enough.
            if (currentIndex === 2 && Number($("#age-2").val()) >= 18) {
                form.steps("next");
            }
            // Used to skip the "Warning" step if the user is old enough and wants to the previous step.
            if (currentIndex === 2 && priorIndex === 3) {
                form.steps("previous");
            }
        },
        onFinishing: function (event, currentIndex) {
            form.validate().settings.ignore = ":disabled";
            return form.valid();
        },
        onCanceled: function (event, currentIndex) {
            window.location.href ="/cms/article/"
        },
        onFinished: function (event, currentIndex) {
            $.ajax({
                cache: true,
                type: "POST",
                url: "/cms/article/save",
                data: $('#article-form').serialize(),// 你的formid
                async: false,
                error: function (request) {
                    parent.layer.alert("Connection error");
                },
                success: function (data) {
                    if (data.code == 0) {
                        parent.layer.msg("操作成功");
                        window.location.href = "/cms/article";
                    } else {
                        parent.layer.alert(data.msg)
                    }
                }
            });
        }
    }).validate({});

    // 初始化Web Uploader
    var uploader = WebUploader.create({

        // 选完文件后，是否自动上传。
        auto: true,

        // swf文件路径
        swf: '/js/Uploader.swf',

        // 文件接收服务端。
        server: '/common/sysFile/upload',

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#filePicker',

        // 只允许选择图片文件。
        accept: {
            title: 'Images',
            extensions: 'jpg,jpeg,bmp,png',
            mimeTypes: 'image/*'
        }
    });

    // 当有文件添加进来的时候
    uploader.on('fileQueued', function (file) {
        var $li = $(
            '<div id="' + file.id + '" class="file-item">' +
            '<img>' +
            '<div class="info">' + file.name + '</div>' +
            '</div>'
            ),
            $img = $li.find('img');

        let $list = $("#fileList");
        // $list为容器jQuery实例
        $list.html($li);

        // 创建缩略图
        // 如果为非图片文件，可以不用调用此方法。
        // thumbnailWidth x thumbnailHeight 为 100 x 100
        uploader.makeThumb(file, function (error, src) {
            if (error) {
                $img.replaceWith('<span>不能预览</span>');
                return;
            }

            $img.attr('src', src);
        }, 400, 400);
    });

    // 文件上传过程中创建进度条实时显示。
    uploader.on('uploadProgress', function (file, percentage) {
        var $li = $('#' + file.id),
            $percent = $li.find('.progress span');

        // 避免重复创建
        if (!$percent.length) {
            $percent = $('<p class="progress"><span></span></p>')
                .appendTo($li)
                .find('span');
        }

        $percent.css('width', percentage * 100 + '%');
    });

    // 文件上传成功，给item添加成功class, 用样式标记上传成功。
    uploader.on('uploadSuccess', function (file, response) {
        $('#' + file.id).addClass('upload-state-done');
        $('#thumbnail').val(response.data);
    });

    // 文件上传失败，显示上传出错。
    uploader.on('uploadError', function (file) {
        var $li = $('#' + file.id),
            $error = $li.find('div.error');

        // 避免重复创建
        if (!$error.length) {
            $error = $('<div class="error"></div>').appendTo($li);
        }

        $error.text('上传失败');
    });

    // 完成上传完了，成功或者失败，先删除进度条。
    uploader.on('uploadComplete', function (file) {
        $('#' + file.id).find('.progress').remove();
    });

    (function () {
        $(function () {
            var $preview, editor, toolbar;
            toolbar = ['title', 'bold', 'italic', 'underline', 'strikethrough', 'color', '|', 'ol', 'ul', 'blockquote', 'code', 'table', '|', 'link', 'image', 'hr', '|', 'indent', 'outdent', 'alignment'];
            editor = new Simditor({
                textarea: $('#editor'),
                placeholder: '这里输入文字...',
                toolbar: toolbar,
                pasteImage: true,
                defaultImage: 'assets/images/image.png',
                upload: location.search === '?upload' ? {
                    url: '/upload'
                } : false
            });
            $preview = $('#preview');
            if ($preview.length > 0) {
                return editor.on('valuechanged', function (e) {
                    return $preview.html(editor.getValue());
                });
            }
        });

    }).call(this);
</script>
</body>
</html>
